# Proyecto: PROWPI001 (Proyecto World Population Indicators 001)

El presente proyecto es un ejercicio de **Pandas**. El framework de trabajo ser√° el mismo del curso:
* Python,  
* Notebbok y  
* Google Colab. 

**PROWPI001 no tiene m√°s pretensiones, ni las puede tener, que la de ser un ejercicio del curso de manipulaci√≥n y transformaci√≥n de datos con Pandas y NumPy de Platzi**.  

Para poder extraer conclusiones, lo cual suele ser muy apetecible (aunque no muy inteligente con tan pocos datos), deber√≠amos obtenerlos de calidad y contrastados, de muchos a√±os y con muchos indicadores. Este ejercicio solo obtendr√° datos, relativos a unos pocos indicadores del a√±o 2021, lo cual, no quiere decir que no se tenga la pretensi√≥n de que sean de calidad, pero sin pretender, a su vez, obtener conclusiones m√°s all√° de los resultados puntuales.

## Objetivos  

Aunque, **el presente notebook es un ejercicio de un curso (como se ha se√±alado)**, se pretende hacer un an√°lisis de datos, por ello es imprescindible definir ***objetivos claros***. Estos son:  

1. Los datasets, que se convertir√°n en nuestros datasources, deben ser completos y consistentes. Es decir:  
  * No deben tener datos nulos o estos deben ser una minor√≠a justificable.  
  * Cogeremos un a√±o como referencia del estudio. En nuestro caso ser√° el 2021 (lo escogemos arbitr√°riamente y si no es posible obtenerlo, se buscar√° el a√±o anterior).  
2. Datos e indicadores buscados:  
  * Pa√≠s, c√≥digo alfanum√©rico est√°ndard (ISO 3166-1 alfa-3, sistema est√°ndard de c√≥digos de pa√≠s, de tres letras). Debe haber solo los 193 paises (reconocidos por la ONU) en 2021.
  * Nombre pa√≠s (de todos los paises del mundo, en espa√±ol, en el a√±o seleccionado -2021-).  
  * Poblaci√≥n total por pa√≠s.  
  * Densidad de poblaci√≥n (n¬∫ de habitantes/Km<sup>2</sup>).  
  * Tasa anual de crecimiento poblacional (confiaremos en el resultado que nos proporcionen los datasets).Siendo las f√≥rmulas correctas:  
      * Crecimiento = (nacimientos ‚Äì defunciones) + (inmigraciones ‚Äì emigraciones)  
      * Tasa de crecimento anual = crecimiento anual / poblaci√≥n media anual * 100
      * Unidad de medida = %  
  * Superfice (Km<sup>2</sup>).  
  * Alg√∫n indicador de escolarizaci√≥n anual, pero no de formaci√≥n reglada (por ejemplo, a√±os de escolarizaci√≥n/formaci√≥n).  
  * Alg√∫n tipo de indicador anual relacionado con el crecimiento y el PIB.  
  * Alg√∫n indicador relacionado con la esperanza de vida y si es posible con el gasto anual en salud.  
  * Deuda externa anual.  


  ***Nota***: Algunos estudios de prospectiva indican que entre el 14 y el 16 de abril de 2023, India habra superado a China como el pa√≠s m√°s poblado del mundo. En el momento de hacer este proyecto estamos a pocos d√≠as de esas fechas, ¬øSer√° verdad o habr√° fallado la prospectiva? üòè

## Datasets

***Dataset b√°sico*** 

Dataset     : **Kaggle, World Bank Indicators Collection**  
URL        : https://www.kaggle.com/datasets/ploverbrown/world-bank-indicators-collection  
Autor      : PLOVER BROWN  
Fuente     : **Banco Mundial**  
Fichero    : PopulationDataWorldBank.xlsx  
Licencia   : Dominio p√∫blico

***Componentes***  

1. ***Poblaci√≥n (seleccionado)***
2. ***Densidad de poblaci√≥n (seleccionado)***
3. ***Crecimiento de la poblaci√≥n  (seleccionado)***
4. Poblaci√≥n femenina
5. Poblaci√≥n masculina
6. ***Educaci√≥n  (seleccionado)***
7. Cambio clim√°tico
8. Comercio
9. Infraestructura
10. Pobreza 
11. Desarrollo social
12. Medio ambiente
13. Agricultura y medio rural
14. ***Desarrollo econ√≥mico  (seleccionado)***
15. ***Salud  (seleccionado)***
16. Sector privado
17. Sector p√∫blico
18. Sector financiero
19. Ciencia y tecnolog√≠a
20. ***Deuda externa (seleccionado)***
21. ***Metadatos de paises (seleccionado)***
22. ***Metadatos de indicadores (seleccionado)***

Los conjuntos de datos marcados como ***seleccionado*** ser√°n incluidos en este proyecto (o se intentar√° hacerlo). Caso que no tengan calidad necesaria, se buscar√°n datasets alternativos, pero √©stos (muy completos), ser√°n cogidos como base y orientaci√≥n para construir el proyecto.  

***Dataset de paises***  

***El dataset b√°sico dispone de 262 pa√≠ses y muchos NaN***, por lo tanto, buscamos otro, el cual nos proporcione los datos que necesitamos (***193 paises soberanos reconocidos por la ONU en 2021***). No obstante, conservaremos el resto de datos de este dataset, haciendo un join con el nuevo (de 193 filas).

Dataset : World countries  
URL : https://stefangabos.github.io/world_countries/  
Autor : Stefan Gabos   
Fuente : Stefan Gabos  
Fichero : **countries_esp.csv** (realmente es countries.csv, pero posteriormente leeremos otro countries.csv, en ingl√©s, como **countries_eng.csv**)  
Licencia   : Dominio p√∫blico

***Dataset de poblaciones (n√∫mero de habitantes por pa√≠s)***

Queremos datos del a√±o 2021 y en el dataset b√°sico no disponemos de ellos. No tiene la calidad que requerimos en nuestros objetivos, por lo tanto, buscamos otro dataset, el cual nos proporcione los datos que necesitamos.  

Data source: Kaggle, 2021 World Population (updated daily)  
URL : https://www.kaggle.com/datasets/rsrishav/world-population  
Autor : RISHAV SHARMA  
Fuente : -  
Fichero : 2021_population.csv  
Licencia   : Dominio p√∫blico

***Dataset de educaci√≥n***

El datasource b√°sico no nos proporciona informaci√≥n del a√±o que queremos analizar (2021), por lo tanto, buscamos otro, el cual nos proporcione los datos que necesitamos.

Data source: All composite indices and components time series (1990-2021), Metadata  
URL : https://hdr.undp.org/sites/default/files/2021-22_HDR/HDR21-22_Composite_indices_complete_time_series.csv  
Autor : United Nations Development Programme  
Fuente : UN  
Fichero : HDR21-22_Composite_indices_complete_time_series.csv 
Licencia   : Dominio p√∫blico

***Dataset de desarrollo econ√≥mico***  

El datasource b√°sico no nos proporciona informaci√≥n del a√±o que queremos analizar (2021), por lo tanto, buscamos otro, el cual nos proporcione los datos que necesitamos.  

Data source: Kaggle, GDP Growth around the Globe  
URL : https://www.kaggle.com/datasets/fuarresvij/gdp-growth-around-the-globe  
Autor : L. FARRAS VIJAYA AND 2 COLLABORATORS  
Fuente : -  
Fichero : API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_4701072.csv  
Licencia   : Dominio p√∫blico  

***Dataset de salut***

El datasource b√°sico no nos proporciona informaci√≥n del a√±o que queremos analizar (2021, ni 2020), por lo tanto, buscamos otro, el cual nos proporcione los datos que necesitamos.  

Data source: WHO (OMS), Global Health Expenditure Database  
URL : https://apps.who.int/nha/database/Select/Indicators/en  
Autor : WHO  
Fuente : WHO  
Fichero : NHA indicators.xlsx (arreglamos filas y columnas combinadas)  
Licencia   : Dominio p√∫blico 

***Dataset de deuda p√∫blica***

El datasource b√°sico no nos proporciona informaci√≥n del a√±o que queremos analizar (2021, ni 2020), por lo tanto, buscamos otro, el cual nos proporcione los datos que necesitamos.  

Data source: IFM (FMI), World Economic Outlook Database  
URL : https://www.imf.org/en/Publications/WEO/weo-database/2022/October  
Autor    : IFM  
Fuente   : IFM  
Fichero  : WEO_Data.xls  
Licencia : Dominio p√∫blico

## Librer√≠as del proyecto

In [113]:
# Librer√≠as
import numpy  as np       # NumPy 
import pandas as pd       # Pandas
import re                 # Expresiones regulares

## Paises (extracci√≥n y transformaci√≥n)

In [114]:
# EXTRACCI√ìN DE DATOS
df_pai01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Country Metadata')    # Lectura del dataset 01
print('--- Comprobaci√≥n de df_pai01 ---')
print(df_pai01.info)                                                                    # df tiene la calidad necesaria  
df_pai_princ = pd.read_csv('/content/countries_esp.csv')                                # Lectura del dataset exacto en espa√±ol
print('--- Comprobaci√≥n de df_pai_princ ---')
print(df_pai_princ.info)
df_pai_eng = pd.read_csv('/content/countries_eng.csv')                                  # Lectura del dataset exacto en ingl√©s
print('--- Comprobaci√≥n de df_pai_eng ---')
print(df_pai_eng.info)

# TRANSFORMACI√ìN DE DATOS
print('--- Columnas de df_pai01 ---')
for column in df_pai01:                                                                 # Comprobaci√≥n de columnas del df
  print(column)      

df_pai_ext = df_pai01.copy()                                                            # Copia del df para trabajar con √©l
df_pai_ext['Country Code'] = df_pai_ext['Country Code'].str.lower()                     # Estandarizaci√≥n del c√≥digo de poblaci√≥n (iso3) a min√∫sculas

print('--- Columnas de df_pai_eng ---')                                                 # Comprobaci√≥n de columnas del df
for column in df_pai_eng:
  print(column)

print('--- Columnas de df_pai_princ ---')                                               # Comprobaci√≥n de columnas del df
for column in df_pai_princ:
  print(column)

df_pai_princ.drop(['id','alpha2'], axis=1, inplace=True)                                # Limpieza de las columnas no necesarias
                                                                                 
df_pai_princ.set_axis(['codigo_pais',                                                   # Renombrado de columnas para estandarizar nombres
                      'pais'], axis=1, inplace=True)

df_pai01 = pd.merge(df_pai_princ, df_pai_ext, how='inner',                              # Eliminaci√≥n de las filas innecesarias en el df original
                    left_on='codigo_pais', right_on='Country Code')


df_pai01.drop(['Country Code', 'SpecialNotes', 'TableName'],                            # Limpieza de las columnas no necesarias
                    axis=1, inplace=True)  

df_pai01.set_axis(['codigo_pais',                                                       # Renombrado de columnas para estandarizar nombres
                      'pais',
                      'region',
                      'grupo_ingresos'], axis=1, inplace=True)  

print('--- Comprobaci√≥n de df_pai01 ---')
print(df_pai01.info)                                                                    # df filtrado

print('--- Columnas de df_pai01 ---')
for column in df_pai01:                                                                 # Comprobaci√≥n de columnas del df filtrado
  print(column)

'''
  Para poder limpiar y traducir, contenidos de campos, debemos
  agrupar los campos (por contenido), para ver las ocurrencias 
  de cada contenido y cu√°les son esos contenidos
'''
print('--- Regiones a traducir ---')
print(df_pai01.groupby(["region"])["region"].count())                                   # Comprobaci√≥n de regiones (antes de limpiar)

# Substituci√≥n de valores traducidos de las regiones del mundo
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'East Asia & Pacific').fillna('Asia oriental y el Pac√≠fico')
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'Europe & Central Asia').fillna('Europa y Asia Central')
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'Latin America & Caribbean').fillna('Latinoam√©rica y Caribe')
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'Middle East & North Africa').fillna('Oriente Medio y Norte de √Åfrica')
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'North America').fillna('Am√©rica del Norte')
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'South Asia').fillna('Asia del Sur')
df_pai01['region'] = df_pai01['region'].mask(df_pai01['region'] == 'Sub-Saharan Africa').fillna('Africa Sub-sahariana')

print('--- Grupos de ingresos a traducir ---')
print(df_pai01.groupby(["grupo_ingresos"])["grupo_ingresos"].count())                 # Comprobaci√≥n de grupo de ingresos (antes de limpiar)

# Substituci√≥n de valores traducidos de los grupos de ingresos de los paises del mundo
df_pai01['grupo_ingresos'] = df_pai01['grupo_ingresos'].mask(df_pai01['grupo_ingresos'] == 'High income').fillna('Ingresos altos')
df_pai01['grupo_ingresos'] = df_pai01['grupo_ingresos'].mask(df_pai01['grupo_ingresos'] == 'Low income').fillna('Ingresos bajos')
df_pai01['grupo_ingresos'] = df_pai01['grupo_ingresos'].mask(df_pai01['grupo_ingresos'] == 'Lower middle income').fillna('Ingresos medios bajos')
df_pai01['grupo_ingresos'] = df_pai01['grupo_ingresos'].mask(df_pai01['grupo_ingresos'] == 'Upper middle income').fillna('Ingresos medios altos')

print('--- Comprobaci√≥n de df_pai01 ---')
print(df_pai01.info)                                                                # Comprobaci√≥n del df, tras los cambios

print('--- Comprobaci√≥n de NaN en df_pai01 ---')
print(df_pai01.isna().sum())                                                        # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en df_pai01 ---')
print(df_pai01.isnull().sum())                                                      # Comprobaci√≥n de nulos en el df

--- Comprobaci√≥n de df_pai01 ---
<bound method DataFrame.info of     Country Code                      Region          IncomeGroup  \
0            ABW   Latin America & Caribbean          High income
1            AFG                  South Asia           Low income
2            AGO          Sub-Saharan Africa  Lower middle income
3            ALB       Europe & Central Asia  Upper middle income
4            AND       Europe & Central Asia          High income
..           ...                         ...                  ...
258          XKX       Europe & Central Asia  Upper middle income
259          YEM  Middle East & North Africa           Low income
260          ZAF          Sub-Saharan Africa  Upper middle income
261          ZMB          Sub-Saharan Africa  Lower middle income
262          ZWE          Sub-Saharan Africa  Lower middle income

                                          SpecialNotes     TableName
0                                                  NaN         Aruba
1                                                  NaN   Afghanistan
2                                                  NaN        Angola
3                                                  NaN       Albania
4                                                  NaN       Andorra
..                                                 ...           ...
258                                                NaN        Kosovo
259                                                NaN   Yemen, Rep.
260  Fiscal year end: March 31; reporting period fo...  South Africa
261  National accounts data were rebased to reflect...        Zambia
262                                                NaN      Zimbabwe

[263 rows x 5 columns]>
--- Comprobaci√≥n de df_pai_princ ---
<bound method DataFrame.info of       id alpha2 alpha3        name
0      4     af    afg  Afganist√°n
1      8     al    alb     Albania
2    276     de    deu    Alemania
3     20     ad    and     Andorra
4     24     ao    ago      Angola
..   ...    ...    ...         ...
188  704     vn    vnm     Vietnam
189  887     ye    yem       Yemen
190  262     dj    dji      Yibuti
191  894     zm    zmb      Zambia
192  716     zw    zwe    Zimbabue

[193 rows x 4 columns]>
--- Comprobaci√≥n de df_pai_eng ---
<bound method DataFrame.info of       id alpha2 alpha3                                name
0      4     af    afg                         Afghanistan
1      8     al    alb                             Albania
2     12     dz    dza                             Algeria
3     20     ad    and                             Andorra
4     24     ao    ago                              Angola
..   ...    ...    ...                                 ...
188  862     ve    ven  Venezuela (Bolivarian Republic of)
189  704     vn    vnm                            Viet Nam
190  887     ye    yem                               Yemen
191  894     zm    zmb                              Zambia
192  716     zw    zwe                            Zimbabwe

[193 rows x 4 columns]>
--- Columnas de df_pai01 ---
Country Code
Region
IncomeGroup
SpecialNotes
TableName
--- Columnas de df_pai_eng ---
id
alpha2
alpha3
name
--- Columnas de df_pai_princ ---
id
alpha2
alpha3
name
--- Comprobaci√≥n de df_pai01 ---
<bound method DataFrame.info of     codigo_pais        pais                      region       grupo_ingresos
0           afg  Afganist√°n                  South Asia           Low income
1           alb     Albania       Europe & Central Asia  Upper middle income
2           deu    Alemania       Europe & Central Asia          High income
3           and     Andorra       Europe & Central Asia          High income
4           ago      Angola          Sub-Saharan Africa  Lower middle income
..          ...         ...                         ...                  ...
188         vnm     Vietnam         East Asia & Pacific  Lower middle income
189         yem       Yemen  Middle East & North Africa           Low income
190         dji      Yibuti  Middle East & North Africa  Lower middle income
191         zmb      Zambia          Sub-Saharan Africa  Lower middle income
192         zwe    Zimbabue          Sub-Saharan Africa  Lower middle income

[193 rows x 4 columns]>
--- Columnas de df_pai01 ---
codigo_pais
pais
region
grupo_ingresos
--- Regiones a traducir ---
region
East Asia & Pacific           30
Europe & Central Asia         52
Latin America & Caribbean     33
Middle East & North Africa    20
North America                  2
South Asia                     8
Sub-Saharan Africa            48
Name: region, dtype: int64
--- Grupos de ingresos a traducir ---
grupo_ingresos
High income            61
Low income             29
Lower middle income    49
Upper middle income    54
Name: grupo_ingresos, dtype: int64
--- Comprobaci√≥n de df_pai01 ---
<bound method DataFrame.info of     codigo_pais        pais                           region  \
0           afg  Afganist√°n                     Asia del Sur
1           alb     Albania            Europa y Asia Central
2           deu    Alemania            Europa y Asia Central
3           and     Andorra            Europa y Asia Central
4           ago      Angola             Africa Sub-sahariana
..          ...         ...                              ...
188         vnm     Vietnam      Asia oriental y el Pac√≠fico
189         yem       Yemen  Oriente Medio y Norte de √Åfrica
190         dji      Yibuti  Oriente Medio y Norte de √Åfrica
191         zmb      Zambia             Africa Sub-sahariana
192         zwe    Zimbabue             Africa Sub-sahariana

            grupo_ingresos
0           Ingresos bajos
1    Ingresos medios altos
2           Ingresos altos
3           Ingresos altos
4    Ingresos medios bajos
..                     ...
188  Ingresos medios bajos
189         Ingresos bajos
190  Ingresos medios bajos
191  Ingresos medios bajos
192  Ingresos medios bajos

[193 rows x 4 columns]>
--- Comprobaci√≥n de NaN en df_pai01 ---
codigo_pais       0
pais              0
region            0
grupo_ingresos    0
dtype: int64
--- Comprobaci√≥n de nulos en df_pai01 ---
codigo_pais       0
pais              0
region            0
grupo_ingresos    0
dtype: int64

## Poblaciones (extracci√≥n y transformaci√≥n)

In [115]:
# EXTRACCI√ìN DE DATOS
df_pob01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Totals')     # Lectura del dataset 01
print('--- Comprobaci√≥n de df_pob01 ---')
print(df_pob01.info)                                                                      # df no tiene la calidad necesaria           
df_pob02 = pd.read_csv('/content/2021_population.csv')                                    # Lectura del dataset 02 (df_pob01 deprecated)
print('--- Comprobaci√≥n de df_pob02 ---')
print(df_pob02.info)                                                                      # df ya tiene la calidad necesaria

# TRANSFORMACI√ìN DE DATOS
print('--- Columnas de df_pob02 ---')
for column in df_pob02:                                                                   # Comprobaci√≥n de columnas del df
  print(column)

df_pob02.drop(['country' ,'2020_population', 'world_%', 'rank'],                          # Limpieza de las columnas no necesarias
                          axis=1, inplace=True)    

df_pob02.set_axis(['codigo_pais', 'poblacion', 'area',                                    # Renombrado de columnas para estandarizar nombres
                          'densidad_poblacion', 'tasa_crecimiento'], 
                          axis=1, inplace=True)

df_pob02['codigo_pais'] = df_pob02['codigo_pais'].str.lower()                             # Estandarizaci√≥n del c√≥digo de poblaci√≥n (iso3) a min√∫sculas

df_pob02.area = df_pob02.area.str.slice(0,-6)                                             # Limpieza de caracteres no deseados
df_pob02.densidad_poblacion = df_pob02.densidad_poblacion.str.slice(0,-6)
df_pob02.tasa_crecimiento = df_pob02.tasa_crecimiento.str.slice(0,-1)

print('--- Comprobaci√≥n de df_pob02 ---')
print(df_pob02.info)                                                                      # Comprobaci√≥n del df, tras los cambios

print('--- Comprobaci√≥n de NaN en df_pob02 ---')
print(df_pob02.isna().sum())                                                              # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en df_pob02 ---')
print(df_pob02.isnull().sum())                                                            # Comprobaci√≥n de nulos en el df

''' 
  Como hay > 193 paises, deben haber filas que no se refieren a paises, 
  sino a territorios aut√≥nomos, de ultramar, etc.
'''
 
df_pob02_copy = df_pob02[df_pob02.codigo_pais.isin(df_pai01['codigo_pais'])]              # Seleccionamos solo los registros que est√©n incluidos en nuestro dataset de paises
df_pob02 = df_pob02_copy                                                                  # Volcamos la copia del df con el que hemos trabajado en el original y listo

print('--- Comprobaci√≥n final de df_pob02 ---')
print(df_pob02.info)                                                                      # df ya tiene la calidad necesaria

--- Comprobaci√≥n de df_pob01 ---
<bound method DataFrame.info of      Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996973.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5454933.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5315355.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17099840.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3070776.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3776681.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9169410.0   9351441.0   9543205.0   9744781.0   9956320.0  ...
2     5531472.0   5608539.0   5679458.0   5735044.0   5770570.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5393036.0   5473671.0   5556766.0   5641597.0   5727751.0  ...
261  17524533.0  17965725.0  18423161.0  18896307.0  19384841.0  ...
262   3164329.0   3260650.0   3360104.0   3463213.0   3570464.0  ...
263   3905034.0   4039201.0   4178726.0   4322861.0   4471177.0  ...

           2010        2011        2012        2013        2014        2015  \
0      101669.0    102046.0    102560.0    103159.0    103774.0    104341.0
1    29185507.0  30117413.0  31161376.0  32269589.0  33370794.0  34413603.0
2    23356246.0  24220661.0  25107931.0  26015780.0  26941779.0  27884381.0
3     2913021.0   2905195.0   2900401.0   2895092.0   2889104.0   2880703.0
4       84449.0     83747.0     82427.0     80774.0     79213.0     78011.0
..          ...         ...         ...         ...         ...         ...
259   1775680.0   1791000.0   1807106.0   1818117.0   1812771.0   1788196.0
260  23154855.0  23807588.0  24473178.0  25147109.0  25823485.0  26497889.0
261  51216964.0  52004172.0  52834005.0  53689236.0  54545991.0  55386367.0
262  13605984.0  14023193.0  14465121.0  14926504.0  15399753.0  15879361.0
263  12697723.0  12894316.0  13115131.0  13350356.0  13586681.0  13814629.0

           2016        2017        2018        2019
0      104872.0    105366.0    105845.0    106314.0
1    35383128.0  36296400.0  37172386.0  38041754.0
2    28842484.0  29816748.0  30809762.0  31825295.0
3     2876101.0   2873457.0   2866376.0   2854191.0
4       77297.0     77001.0     77006.0     77142.0
..          ...         ...         ...         ...
259   1777557.0   1791003.0   1797085.0   1794248.0
260  27168210.0  27834821.0  28498687.0  29161922.0
261  56203654.0  57000451.0  57779622.0  58558270.0
262  16363507.0  16853688.0  17351822.0  17861030.0
263  14030390.0  14236745.0  14439018.0  14645468.0

[264 rows x 64 columns]>
--- Comprobaci√≥n de df_pob02 ---
<bound method DataFrame.info of     iso_code           country 2021_last_updated 2020_population  \
0        CHN             China     1,447,065,329   1,439,323,776
1        IND             India     1,401,310,563   1,380,004,385
2        USA     United States       334,058,426     331,002,651
3        IDN         Indonesia       278,037,263     273,523,615
4        PAK          Pakistan       227,724,796     220,892,340
..       ...               ...               ...             ...
219      MSR        Montserrat             4,977           4,992
220      FLK  Falkland Islands             3,533           3,480
221      NIU              Niue             1,619           1,626
222      TKL           Tokelau             1,373           1,357
223      VAT      Vatican City               800             801

                area density_sq_km growth_rate world_%  rank
0    9,706,961 sq_km     149/sq_km       0.34%  18.34%     1
1    3,287,590 sq_km     424/sq_km       0.97%  17.69%     2
2    9,372,610 sq_km      36/sq_km       0.58%   4.23%     3
3    1,904,569 sq_km     145/sq_km       1.04%   3.51%     4
4      881,912 sq_km     255/sq_km       1.95%   2.86%     5
..               ...           ...         ...     ...   ...
219        102 sq_km      49/sq_km      -0.30%   0.00%   228
220     12,173 sq_km       0/sq_km       1.52%   0.00%   229
221        260 sq_km       6/sq_km      -0.43%   0.00%   230
222         12 sq_km     114/sq_km       1.18%   0.00%   231
223          1 sq_km     800/sq_km      -0.12%   0.00%   232

[224 rows x 9 columns]>
--- Columnas de df_pob02 ---
iso_code
country
2021_last_updated
2020_population
area
density_sq_km
growth_rate
world_%
rank
--- Comprobaci√≥n de df_pob02 ---
<bound method DataFrame.info of     codigo_pais      poblacion       area densidad_poblacion tasa_crecimiento
0           chn  1,447,065,329  9,706,961                149             0.34
1           ind  1,401,310,563  3,287,590                424             0.97
2           usa    334,058,426  9,372,610                 36             0.58
3           idn    278,037,263  1,904,569                145             1.04
4           pak    227,724,796    881,912                255             1.95
..          ...            ...        ...                ...              ...
219         msr          4,977        102                 49            -0.30
220         flk          3,533     12,173                  0             1.52
221         niu          1,619        260                  6            -0.43
222         tkl          1,373         12                114             1.18
223         vat            800          1                800            -0.12

[224 rows x 5 columns]>
--- Comprobaci√≥n de NaN en df_pob02 ---
codigo_pais           0
poblacion             0
area                  0
densidad_poblacion    0
tasa_crecimiento      0
dtype: int64
--- Comprobaci√≥n de nulos en df_pob02 ---
codigo_pais           0
poblacion             0
area                  0
densidad_poblacion    0
tasa_crecimiento      0
dtype: int64
--- Comprobaci√≥n final de df_pob02 ---
<bound method DataFrame.info of     codigo_pais      poblacion       area densidad_poblacion tasa_crecimiento
0           chn  1,447,065,329  9,706,961                149             0.34
1           ind  1,401,310,563  3,287,590                424             0.97
2           usa    334,058,426  9,372,610                 36             0.58
3           idn    278,037,263  1,904,569                145             1.04
4           pak    227,724,796    881,912                255             1.95
..          ...            ...        ...                ...              ...
208         lie         38,250        160                239             0.32
209         smr         34,017         61                558             0.25
211         plw         18,169        459                 40             0.41
214         tuv         11,931         26                459             1.18
216         nru         10,876         21                518             0.48

[189 rows x 5 columns]>

## Densidad de poblaci√≥n (innecesario)

In [116]:
# EXTRACCI√ìN DE DATOS
df_den01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Density')    # Lectura del dataset 01

print('--- Comprobaci√≥n final de df_den01 ---')
print(df_den01.info)                                                                      # df no tiene la calidad necesaria

'''
  Este dataset no nos proporciona ninguna informaci√≥n del 2021, adem√°s, la densidad de la poblaci√≥n 
  ya la tenemos l√≠mpia en df_pob. Lo despreciamos para nuetro an√°lisis (ha nacido deprecated... ;-) )
'''

--- Comprobaci√≥n final de df_den01 ---
<bound method DataFrame.info of      Country Name Country Code  \
0           Aruba          ABW
1     Afghanistan          AFG
2          Angola          AGO
3         Albania          ALB
4         Andorra          AND
..            ...          ...
259        Kosovo          XKX
260   Yemen, Rep.          YEM
261  South Africa          ZAF
262        Zambia          ZMB
263      Zimbabwe          ZWE

                                        Indicator Name Indicator Code  1960  \
0    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
1    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
2    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
3    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
4    Population density (people per sq. km of land ...    EN.POP.DNST   NaN
..                                                 ...            ...   ...
259  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
260  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
261  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
262  Population density (people per sq. km of land ...    EN.POP.DNST   NaN
263  Population density (people per sq. km of land ...    EN.POP.DNST   NaN

           1961        1962        1963        1964        1965  ...  \
0    307.988889  312.361111  314.972222  316.844444  318.666667  ...
1     14.044987   14.323808   14.617537   14.926295   15.250314  ...
2      4.436891    4.498708    4.555593    4.600180    4.628676  ...
3     60.576642   62.456898   64.329234   66.209307   68.058066  ...
4     30.585106   32.702128   34.919149   37.168085   39.465957  ...
..          ...         ...         ...         ...         ...  ...
259   88.729678   91.301552   93.873427   96.445302   99.017176  ...
260   10.214664   10.367390   10.524776   10.685450   10.848630  ...
261   14.446194   14.809886   15.186970   15.577003   15.979722  ...
262    4.256620    4.386190    4.519975    4.658676    4.802949  ...
263   10.094440   10.441259   10.801928   11.174515   11.557909  ...

           2010        2011        2012        2013        2014        2015  \
0    564.827778  566.922222  569.777778  573.105556  576.522222  579.672222
1     44.704082   46.131503   47.730564   49.428038   51.114778   52.712072
2     18.734456   19.427818   20.139513   20.867715   21.610475   22.366553
3    106.314635  106.029015  105.854051  105.660292  105.441752  105.135146
4    179.678723  178.185106  175.376596  171.859575  168.538298  165.980851
..          ...         ...         ...         ...         ...         ...
259  163.100946  164.508129  165.987508  166.998898  166.507853  164.250574
260   43.856384   45.092691   46.353350   47.629807   48.910895   50.188247
261   42.220251   42.869179   43.553244   44.258246   44.964505   45.657261
262   18.302619   18.863844   19.458321   20.078968   20.715577   21.360741
263   32.823376   33.331565   33.902368   34.510420   35.121316   35.710557

           2016        2017        2018  2019
0    582.622222  585.366667  588.027778   NaN
1     54.197114   55.595993   56.937760   NaN
2     23.135064   23.916538   24.713052   NaN
3    104.967190  104.870693  104.612263   NaN
4    164.461702  163.831915  163.842553   NaN
..          ...         ...         ...   ...
259  163.273354  164.508405         NaN   NaN
260   51.457867   52.720459   53.977853   NaN
261   46.330985   46.987817   47.630120   NaN
262   22.012009   22.671395   23.341479   NaN
263   36.268295   36.801719   37.324591   NaN

[264 rows x 64 columns]>

'\n  Este dataset no nos proporciona ninguna informaci√≥n del 2021, adem√°s, la densidad de la poblaci√≥n \n  ya la tenemos l√≠mpia en df_pob. Lo despreciamos para nuetro an√°lisis (ha nacido deprecated... ;-) )\n'

## Crecimiento demogr√°fico (innecesario)

In [117]:
# EXTRACCI√ìN DE DATOS
df_cre01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Population Growth')         # Lectura del dataset 01

print('--- Comprobaci√≥n final de df_den01 ---')
print(df_cre01.info)                                                                          # df no tiene la calidad necesaria

'''
    Por las mismas razones que el caso anterior, 
    despreciamos df_cre01, para nuetro an√°lisis
'''

--- Comprobaci√≥n final de df_den01 ---
<bound method DataFrame.info of      Country Name Country Code                Indicator Name Indicator Code  \
0           Aruba          ABW  Population growth (annual %)    SP.POP.GROW
1     Afghanistan          AFG  Population growth (annual %)    SP.POP.GROW
2          Angola          AGO  Population growth (annual %)    SP.POP.GROW
3         Albania          ALB  Population growth (annual %)    SP.POP.GROW
4         Andorra          AND  Population growth (annual %)    SP.POP.GROW
..            ...          ...                           ...            ...
259        Kosovo          XKX  Population growth (annual %)    SP.POP.GROW
260   Yemen, Rep.          YEM  Population growth (annual %)    SP.POP.GROW
261  South Africa          ZAF  Population growth (annual %)    SP.POP.GROW
262        Zambia          ZMB  Population growth (annual %)    SP.POP.GROW
263      Zimbabwe          ZWE  Population growth (annual %)    SP.POP.GROW

     1960      1961      1962      1963      1964      1965  ...      2010  \
0     NaN  2.238144  1.409622  0.832453  0.592649  0.573468  ...  0.210709
1     NaN  1.898476  1.965751  2.029893  2.090248  2.147567  ...  2.746576
2     NaN  1.393363  1.383629  1.256555  0.973962  0.617544  ...  3.671462
3     NaN  3.120855  3.056731  2.953749  2.880686  2.754021  ... -0.496462
4     NaN  6.941532  6.692697  6.559522  6.241511  5.998800  ... -0.016577
..    ...       ...       ...       ...       ...       ...  ...       ...
259   NaN  1.986474  2.857337  2.777956  2.702867  2.631731  ...  0.803249
260   NaN  1.450869  1.484101  1.506678  1.515090  1.515578  ...  2.795788
261   NaN  2.453268  2.486399  2.514285  2.535788  2.552486  ...  1.455280
262   NaN  3.001073  2.998554  3.004536  3.022485  3.049879  ...  2.914663
263   NaN  3.342091  3.378041  3.395952  3.391104  3.373423  ...  1.353893

         2011      2012      2013      2014      2015      2016      2017  \
0    0.370125  0.502430  0.582349  0.594397  0.544892  0.507618  0.469944
1    3.143126  3.407587  3.494589  3.355582  3.077084  2.778317  2.548347
2    3.634159  3.597774  3.551950  3.497493  3.438851  3.378273  3.322081
3   -0.269017 -0.165151 -0.183211 -0.207047 -0.291206 -0.159880 -0.091972
4   -0.834745 -1.588730 -2.025792 -1.951470 -1.529058 -0.919470 -0.383674
..        ...       ...       ...       ...       ...       ...       ...
259  0.859067  0.895255  0.607468 -0.294474 -1.364932 -0.596734  0.753585
260  2.779988  2.757339  2.716520  2.654141  2.578072  2.498247  2.424025
261  1.525314  1.583107  1.605752  1.583168  1.528926  1.464829  1.407741
262  3.020291  3.102770  3.139812  3.121305  3.066875  3.003346  2.951583
263  1.536391  1.698001  1.777645  1.754692  1.663813  1.549759  1.460061

         2018      2019
0    0.453576  0.442122
1    2.384761  2.311817
2    3.276134  3.242983
3   -0.246732 -0.426007
4    0.006493  0.176454
..        ...       ...
259  0.339011 -0.157992
260  2.357023  2.300580
261  1.357697  1.338617
262  2.912801  2.892373
263  1.410783  1.419681

[264 rows x 64 columns]>

'\n    Por las mismas razones que el caso anterior, \n    despreciamos df_cre01, para nuetro an√°lisis\n'

## Educaci√≥n, salud y econom√≠a (extracci√≥n y transformaci√≥n)

In [118]:
# EXTRACCI√ìN DE DATOS
df_edu01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Education')         # Lectura del dataset 01
print('--- Comprobaci√≥n final de df_edu01 ---')
print(df_edu01.info)                                                                  # df no tiene la calidad necesaria
df_edu02 = pd.read_csv('/content/HDR21-22_Composite_indices_complete_time_series.csv')# Lectura del dataset con la calidad requerida
print('--- Comprobaci√≥n final de df_edu02 ---')
print(df_edu02.info)                                                                  # df ya tiene la calidad necesaria

# TRANSFORMACI√ìN DE DATOS

'''
  Eliminamos columnas cuando, en este caso, ser√≠a m√°s sencillo coger solo las
  necesarias. Pero este sistema me permitir√° sin mucho esfuerzo, cargar los
  datos que escojamos de muchos m√°s a√±os y poder hacer un aut√©ntico an√°lisis.
  ESTO ES SOLO UN EJERCICIO.
'''

df_edu02.drop(['hdicode'], axis=1, inplace=True)                                      # Eliminaci√≥n de la columna del c√≥digo del idh
df_edu02.drop(['country'], axis=1, inplace=True)                                      # Eliminaci√≥n de la columna del pais (el c√≥digo es suficiente)
df_edu02.drop(['region'], axis=1, inplace=True)                                       # Eliminaci√≥n de la columna de la regi√≥n (ya la hemos obtenido anteriormente)
df_edu02.drop(['hdi_rank_2021'], axis=1, inplace=True)                                # Eliminaci√≥n de la columna del ranking idh

df_edu02.drop(['hdi_1990', 'hdi_1991', 'hdi_1992', 'hdi_1993', 'hdi_1994',            # Eliminaci√≥n de las columnas del √≠ndice de desarrollo humano
               'hdi_1995', 'hdi_1996', 'hdi_1997', 'hdi_1998', 'hdi_1999',
               'hdi_2000', 'hdi_2001', 'hdi_2002', 'hdi_2003', 'hdi_2004',
               'hdi_2005', 'hdi_2006', 'hdi_2007', 'hdi_2008', 'hdi_2009',
               'hdi_2010', 'hdi_2011', 'hdi_2012', 'hdi_2013', 'hdi_2014',
               'hdi_2015', 'hdi_2016', 'hdi_2017', 'hdi_2018', 'hdi_2019',
               'hdi_2020', 'hdi_2021'], axis=1, inplace=True)

df_edu02.drop(['le_1990', 'le_1991', 'le_1992', 'le_1993', 'le_1994', 'le_1995',      # Eliminaci√≥n de las columnas no necesarias, de la esperanza de vida (a√±os)
               'le_1996', 'le_1997', 'le_1998', 'le_1999', 'le_2000', 'le_2001',
               'le_2002', 'le_2003', 'le_2004', 'le_2005', 'le_2006', 'le_2007',
               'le_2008', 'le_2009', 'le_2010', 'le_2011', 'le_2012', 'le_2013',
               'le_2014', 'le_2015', 'le_2016', 'le_2017', 'le_2018', 'le_2019',
               'le_2020'], axis=1, inplace=True)

df_edu02.drop(['eys_1990', 'eys_1991', 'eys_1992', 'eys_1993', 'eys_1994',            # Eliminaci√≥n de las columnas de los a√±os esperados de escolaridad
               'eys_1995', 'eys_1996', 'eys_1997', 'eys_1998', 'eys_1999', 
               'eys_2000', 'eys_2001', 'eys_2002', 'eys_2003', 'eys_2004',
               'eys_2005', 'eys_2006', 'eys_2007', 'eys_2008', 'eys_2009',
               'eys_2010', 'eys_2011', 'eys_2012', 'eys_2013', 'eys_2014',
               'eys_2015', 'eys_2016', 'eys_2017', 'eys_2018', 'eys_2019',
               'eys_2020', 'eys_2021'], axis=1, inplace=True)

df_edu02.drop(['mys_1990', 'mys_1991', 'mys_1992', 'mys_1993', 'mys_1994',            # Eliminaci√≥n de las columnas no necesarias, del promnedio a√±os de escolaridad
               'mys_1995', 'mys_1996', 'mys_1997', 'mys_1998', 'mys_1999',
               'mys_2000', 'mys_2001', 'mys_2002', 'mys_2003', 'mys_2004',
               'mys_2005', 'mys_2006', 'mys_2007', 'mys_2008', 'mys_2009',
               'mys_2010', 'mys_2011', 'mys_2012', 'mys_2013', 'mys_2014',
               'mys_2015', 'mys_2016', 'mys_2017', 'mys_2018', 'mys_2019',
               'mys_2020'], axis=1, inplace=True)

df_edu02.drop(['gnipc_1990', 'gnipc_1991', 'gnipc_1992', 'gnipc_1993', 'gnipc_1994',  # Eliminaci√≥n de las columnas no necesarias, del ingreso nacional bruto per c√°pita
               'gnipc_1995', 'gnipc_1996', 'gnipc_1997', 'gnipc_1998', 'gnipc_1999',
               'gnipc_2000', 'gnipc_2001', 'gnipc_2002', 'gnipc_2003', 'gnipc_2004',
               'gnipc_2005', 'gnipc_2006', 'gnipc_2007', 'gnipc_2008', 'gnipc_2009',
               'gnipc_2010', 'gnipc_2011', 'gnipc_2012', 'gnipc_2013', 'gnipc_2014',
               'gnipc_2015', 'gnipc_2016', 'gnipc_2017', 'gnipc_2018', 'gnipc_2019',
               'gnipc_2020'], axis=1, inplace=True)
 
df_edu02.drop(['gdi_1990', 'gdi_1991', 'gdi_1992', 'gdi_1993', 'gdi_1994',            # Eliminaci√≥n de las columnas del √≠ndice de desarrollo de g√©nero
               'gdi_1995', 'gdi_1996', 'gdi_1997', 'gdi_1998', 'gdi_1999',
               'gdi_2000', 'gdi_2001', 'gdi_2002', 'gdi_2003', 'gdi_2004',
               'gdi_2005', 'gdi_2006', 'gdi_2007', 'gdi_2008', 'gdi_2009',
               'gdi_2010', 'gdi_2011', 'gdi_2012', 'gdi_2013', 'gdi_2014',
               'gdi_2015', 'gdi_2016', 'gdi_2017', 'gdi_2018', 'gdi_2019',
               'gdi_2020', 'gdi_2021'], axis=1, inplace=True)
   
df_edu02.drop(['hdi_f_1990', 'hdi_f_1991', 'hdi_f_1992', 'hdi_f_1993',                # Eliminaci√≥n de las columnas del idh femenino
               'hdi_f_1994', 'hdi_f_1995', 'hdi_f_1996', 'hdi_f_1997',
               'hdi_f_1998', 'hdi_f_1999', 'hdi_f_2000', 'hdi_f_2001',
               'hdi_f_2002', 'hdi_f_2003', 'hdi_f_2004', 'hdi_f_2005',
               'hdi_f_2006', 'hdi_f_2007', 'hdi_f_2008', 'hdi_f_2009',
               'hdi_f_2010', 'hdi_f_2011', 'hdi_f_2012', 'hdi_f_2013',
               'hdi_f_2014', 'hdi_f_2015', 'hdi_f_2016', 'hdi_f_2017',
               'hdi_f_2018', 'hdi_f_2019', 'hdi_f_2020', 'hdi_f_2021'], 
              axis=1, inplace=True)

df_edu02.drop(['le_f_1990', 'le_f_1991', 'le_f_1992', 'le_f_1993', 'le_f_1994',       # Eliminaci√≥n de las columnas no necesarias, de la esperanza de vida al nacer, femenina (a√±os)
               'le_f_1995', 'le_f_1996', 'le_f_1997', 'le_f_1998', 'le_f_1999',
               'le_f_2000', 'le_f_2001', 'le_f_2002', 'le_f_2003', 'le_f_2004',
               'le_f_2005', 'le_f_2006', 'le_f_2007', 'le_f_2008', 'le_f_2009',
               'le_f_2010', 'le_f_2011', 'le_f_2012', 'le_f_2013', 'le_f_2014',
               'le_f_2015', 'le_f_2016', 'le_f_2017', 'le_f_2018', 'le_f_2019',
               'le_f_2020'], axis=1, inplace=True)

df_edu02.drop(['eys_f_1990', 'eys_f_1991', 'eys_f_1992', 'eys_f_1993',                # Eliminaci√≥n de las columnas de los a√±os esperados de escolaridad, femenina
               'eys_f_1994', 'eys_f_1995', 'eys_f_1996', 'eys_f_1997',
               'eys_f_1998', 'eys_f_1999', 'eys_f_2000', 'eys_f_2001',
               'eys_f_2002', 'eys_f_2003', 'eys_f_2004', 'eys_f_2005',
               'eys_f_2006', 'eys_f_2007', 'eys_f_2008', 'eys_f_2009',
               'eys_f_2010', 'eys_f_2011', 'eys_f_2012', 'eys_f_2013',
               'eys_f_2014', 'eys_f_2015', 'eys_f_2016', 'eys_f_2017',
               'eys_f_2018', 'eys_f_2019', 'eys_f_2020', 'eys_f_2021'], 
              axis=1, inplace=True)

df_edu02.drop(['mys_f_1990', 'mys_f_1991', 'mys_f_1992', 'mys_f_1993',                # Eliminaci√≥n de las columnas no necesarias, del promedio de a√±os de escolaridad, femenina
               'mys_f_1994', 'mys_f_1995', 'mys_f_1996', 'mys_f_1997',
               'mys_f_1998', 'mys_f_1999', 'mys_f_2000', 'mys_f_2001',
               'mys_f_2002', 'mys_f_2003', 'mys_f_2004', 'mys_f_2005',
               'mys_f_2006', 'mys_f_2007', 'mys_f_2008', 'mys_f_2009',
               'mys_f_2010', 'mys_f_2011', 'mys_f_2012', 'mys_f_2013',
               'mys_f_2014', 'mys_f_2015', 'mys_f_2016', 'mys_f_2017',
               'mys_f_2018', 'mys_f_2019', 'mys_f_2020'], 
              axis=1, inplace=True)
  
df_edu02.drop(['gni_pc_f_1990', 'gni_pc_f_1991', 'gni_pc_f_1992',                     # Eliminaci√≥n de las columnas no necesarias, del ingreso nacional bruto per c√°pita, femenino
               'gni_pc_f_1993', 'gni_pc_f_1994', 'gni_pc_f_1995',
               'gni_pc_f_1996', 'gni_pc_f_1997', 'gni_pc_f_1998',
               'gni_pc_f_1999', 'gni_pc_f_2000', 'gni_pc_f_2001',
               'gni_pc_f_2002', 'gni_pc_f_2003', 'gni_pc_f_2004',
               'gni_pc_f_2005', 'gni_pc_f_2006', 'gni_pc_f_2007',
               'gni_pc_f_2008', 'gni_pc_f_2009', 'gni_pc_f_2010',
               'gni_pc_f_2011', 'gni_pc_f_2012', 'gni_pc_f_2013',
               'gni_pc_f_2014', 'gni_pc_f_2015', 'gni_pc_f_2016',
               'gni_pc_f_2017', 'gni_pc_f_2018', 'gni_pc_f_2019',
               'gni_pc_f_2020'], axis=1, inplace=True)
 
df_edu02.drop(['hdi_m_1990', 'hdi_m_1991', 'hdi_m_1992', 'hdi_m_1993',                # Eliminaci√≥n de las columnas del idh masculino
               'hdi_m_1994', 'hdi_m_1995', 'hdi_m_1996', 'hdi_m_1997',
               'hdi_m_1998', 'hdi_m_1999', 'hdi_m_2000', 'hdi_m_2001',
               'hdi_m_2002', 'hdi_m_2003', 'hdi_m_2004', 'hdi_m_2005',
               'hdi_m_2006', 'hdi_m_2007', 'hdi_m_2008', 'hdi_m_2009',
               'hdi_m_2010', 'hdi_m_2011', 'hdi_m_2012', 'hdi_m_2013',
               'hdi_m_2014', 'hdi_m_2015', 'hdi_m_2016', 'hdi_m_2017',
               'hdi_m_2018', 'hdi_m_2019', 'hdi_m_2020', 'hdi_m_2021'], 
              axis=1, inplace=True)

df_edu02.drop(['le_m_1990', 'le_m_1991', 'le_m_1992', 'le_m_1993', 'le_m_1994',         # Eliminaci√≥n de las columnas no necesarias, de la esperanza de vida al nacer, masculina (a√±os)
               'le_m_1995', 'le_m_1996', 'le_m_1997', 'le_m_1998', 'le_m_1999',
               'le_m_2000', 'le_m_2001', 'le_m_2002', 'le_m_2003', 'le_m_2004',
               'le_m_2005', 'le_m_2006', 'le_m_2007', 'le_m_2008', 'le_m_2009',
               'le_m_2010', 'le_m_2011', 'le_m_2012', 'le_m_2013', 'le_m_2014',
               'le_m_2015', 'le_m_2016', 'le_m_2017', 'le_m_2018', 'le_m_2019',
                'le_m_2020'], axis=1, inplace=True)

df_edu02.drop(['eys_m_1990', 'eys_m_1991', 'eys_m_1992', 'eys_m_1993',                  # Eliminaci√≥n de las columnas de los a√±os esperados de escolaridad, masculina
               'eys_m_1994', 'eys_m_1995', 'eys_m_1996', 'eys_m_1997',
               'eys_m_1998', 'eys_m_1999', 'eys_m_2000', 'eys_m_2001',
               'eys_m_2002', 'eys_m_2003', 'eys_m_2004', 'eys_m_2005',
               'eys_m_2006', 'eys_m_2007', 'eys_m_2008', 'eys_m_2009',
               'eys_m_2010', 'eys_m_2011', 'eys_m_2012', 'eys_m_2013',
               'eys_m_2014', 'eys_m_2015', 'eys_m_2016', 'eys_m_2017',
               'eys_m_2018', 'eys_m_2019', 'eys_m_2020', 'eys_m_2021'], 
              axis=1, inplace=True)

df_edu02.drop(['mys_m_1990', 'mys_m_1991', 'mys_m_1992', 'mys_m_1993',                  # Eliminaci√≥n de las columnas no necesarias, del promedio de a√±os de escolaridad, masculino
               'mys_m_1994', 'mys_m_1995', 'mys_m_1996', 'mys_m_1997',
               'mys_m_1998', 'mys_m_1999', 'mys_m_2000', 'mys_m_2001',
               'mys_m_2002', 'mys_m_2003', 'mys_m_2004', 'mys_m_2005',
               'mys_m_2006', 'mys_m_2007', 'mys_m_2008', 'mys_m_2009',
               'mys_m_2010', 'mys_m_2011', 'mys_m_2012', 'mys_m_2013',
               'mys_m_2014', 'mys_m_2015', 'mys_m_2016', 'mys_m_2017',
               'mys_m_2018', 'mys_m_2019', 'mys_m_2020'], 
              axis=1, inplace=True)

df_edu02.drop(['gni_pc_m_1990', 'gni_pc_m_1991', 'gni_pc_m_1992',                       # Eliminaci√≥n de las columnas no necesarias, del ingreso nacional bruto per c√°pita, masculino
               'gni_pc_m_1993', 'gni_pc_m_1994', 'gni_pc_m_1995',
               'gni_pc_m_1996', 'gni_pc_m_1997', 'gni_pc_m_1998',
               'gni_pc_m_1999', 'gni_pc_m_2000', 'gni_pc_m_2001',
               'gni_pc_m_2002', 'gni_pc_m_2003', 'gni_pc_m_2004',
               'gni_pc_m_2005', 'gni_pc_m_2006', 'gni_pc_m_2007',
               'gni_pc_m_2008', 'gni_pc_m_2009', 'gni_pc_m_2010',
               'gni_pc_m_2011', 'gni_pc_m_2012', 'gni_pc_m_2013',
               'gni_pc_m_2014', 'gni_pc_m_2015', 'gni_pc_m_2016',
               'gni_pc_m_2017', 'gni_pc_m_2018', 'gni_pc_m_2019',
                'gni_pc_m_2020'], axis=1, inplace=True)

df_edu02.drop(['loss_2010', 'loss_2011', 'loss_2012', 'loss_2013', 'loss_2014',         # Eliminaci√≥n de las columnas del p√©rdida total (%)
               'loss_2015', 'loss_2016', 'loss_2017', 'loss_2018', 'loss_2019',
               'loss_2020', 'loss_2021'], axis=1, inplace=True)

df_edu02.drop(['ihdi_2010', 'ihdi_2011', 'ihdi_2012', 'ihdi_2013', 'ihdi_2014',         # Eliminaci√≥n de las columnas del √≠ndice de desarrollo humano ajustado por la desigualdad
               'ihdi_2015', 'ihdi_2016', 'ihdi_2017', 'ihdi_2018', 'ihdi_2019',
               'ihdi_2020', 'ihdi_2021'], axis=1, inplace=True)

df_edu02.drop(['coef_ineq_2010', 'coef_ineq_2011', 'coef_ineq_2012',                    # Eliminaci√≥n de las columnas del coeficiente de desigualdad humana
               'coef_ineq_2013', 'coef_ineq_2014', 'coef_ineq_2015',
               'coef_ineq_2016', 'coef_ineq_2017', 'coef_ineq_2018',
               'coef_ineq_2019', 'coef_ineq_2020', 'coef_ineq_2021'], 
              axis=1, inplace=True)

df_edu02.drop(['ineq_le_2010', 'ineq_le_2011', 'ineq_le_2012', 'ineq_le_2013',          # Eliminaci√≥n de las columnas de la desigualdad en la esperanza de vida
               'ineq_le_2014', 'ineq_le_2015', 'ineq_le_2016', 'ineq_le_2017',
               'ineq_le_2018', 'ineq_le_2019', 'ineq_le_2020', 'ineq_le_2021'], 
              axis=1, inplace=True)

'''
  Consideramos, este indicador, 
  innecesario para nuestro an√°lisis del a√±o 2021 
      inequality in eduation      = ineq_edu
      desigualdad en la educaci√≥n = desi_edu
'''  
df_edu02.drop(['ineq_edu_2010', 'ineq_edu_2011', 'ineq_edu_2012',                       # Eliminaci√≥n de las columnas de la desigualdad en la esperanza de vida
               'ineq_edu_2013', 'ineq_edu_2014', 'ineq_edu_2015',
               'ineq_edu_2016', 'ineq_edu_2017', 'ineq_edu_2018',
               'ineq_edu_2019', 'ineq_edu_2020', 'ineq_edu_2021'], 
              axis=1, inplace=True)
  
df_edu02.drop(['ineq_inc_2010', 'ineq_inc_2011', 'ineq_inc_2012',                       # Eliminaci√≥n de las columnas de la desigualdad de ingresos
               'ineq_inc_2013', 'ineq_inc_2014', 'ineq_inc_2015',
               'ineq_inc_2016', 'ineq_inc_2017', 'ineq_inc_2018',
               'ineq_inc_2019', 'ineq_inc_2020', 'ineq_inc_2021'], 
              axis=1, inplace=True)
    
df_edu02.drop(['gii_1990', 'gii_1991', 'gii_1992', 'gii_1993', 'gii_1994',              # Eliminaci√≥n de las columnas del √≠ndice de desigualdad de g√©nero
               'gii_1995', 'gii_1996', 'gii_1997', 'gii_1998', 'gii_1999',
               'gii_2000', 'gii_2001', 'gii_2002', 'gii_2003', 'gii_2004',
               'gii_2005', 'gii_2006', 'gii_2007', 'gii_2008', 'gii_2009',
               'gii_2010', 'gii_2011', 'gii_2012', 'gii_2013', 'gii_2014',
               'gii_2015', 'gii_2016', 'gii_2017', 'gii_2018', 'gii_2019',
               'gii_2020', 'gii_2021'], axis=1, inplace=True)

df_edu02.drop(['mmr_1990', 'mmr_1991', 'mmr_1992', 'mmr_1993', 'mmr_1994',              # Eliminaci√≥n de las columnas no necesarias, de la tasa de mortalidad materna (muertes por cada 100.000 nacidos vivos)
               'mmr_1995', 'mmr_1996', 'mmr_1997', 'mmr_1998', 'mmr_1999',
               'mmr_2000', 'mmr_2001', 'mmr_2002', 'mmr_2003', 'mmr_2004',
               'mmr_2005', 'mmr_2006', 'mmr_2007', 'mmr_2008', 'mmr_2009',
               'mmr_2010', 'mmr_2011', 'mmr_2012', 'mmr_2013', 'mmr_2014',
               'mmr_2015', 'mmr_2016', 'mmr_2017', 'mmr_2018', 'mmr_2019',
               'mmr_2020'], axis=1, inplace=True)
   
df_edu02.drop(['abr_1990', 'abr_1991', 'abr_1992', 'abr_1993', 'abr_1994',                # Eliminaci√≥n de las columnas no necesarias, de la tasa de natalidad adolescente (nacimientos por cada 1000 mujeres de 15 a 19 a√±os)
               'abr_1995', 'abr_1996', 'abr_1997', 'abr_1998', 'abr_1999',
               'abr_2000', 'abr_2001', 'abr_2002', 'abr_2003', 'abr_2004',
               'abr_2005', 'abr_2006', 'abr_2007', 'abr_2008', 'abr_2009',
               'abr_2010', 'abr_2011', 'abr_2012', 'abr_2013', 'abr_2014',
               'abr_2015', 'abr_2016', 'abr_2017', 'abr_2018', 'abr_2019',
                'abr_2020'], axis=1, inplace=True)
   
df_edu02.drop(['se_f_1990', 'se_f_1991', 'se_f_1992', 'se_f_1993', 'se_f_1994',           # Eliminaci√≥n de las columnas no necesarias, de la poblaci√≥n con al menos algo de educaci√≥n secundaria, femenino (% de 25 a√±os y m√°s)
               'se_f_1995', 'se_f_1996', 'se_f_1997', 'se_f_1998', 'se_f_1999',
               'se_f_2000', 'se_f_2001', 'se_f_2002', 'se_f_2003', 'se_f_2004',
               'se_f_2005', 'se_f_2006', 'se_f_2007', 'se_f_2008', 'se_f_2009',
               'se_f_2010', 'se_f_2011', 'se_f_2012', 'se_f_2013', 'se_f_2014',
               'se_f_2015', 'se_f_2016', 'se_f_2017', 'se_f_2018', 'se_f_2019',
               'se_f_2020'], axis=1, inplace=True)
    
df_edu02.drop(['se_m_1990', 'se_m_1991', 'se_m_1992', 'se_m_1993', 'se_m_1994',           # Eliminaci√≥n de las columnas no necesarias, de la poblaci√≥n con al menos algo de educaci√≥n secundaria, masculina (% de 25 a√±os y m√°s)
               'se_m_1995', 'se_m_1996', 'se_m_1997', 'se_m_1998', 'se_m_1999',
               'se_m_2000', 'se_m_2001', 'se_m_2002', 'se_m_2003', 'se_m_2004',
               'se_m_2005', 'se_m_2006', 'se_m_2007', 'se_m_2008', 'se_m_2009',
               'se_m_2010', 'se_m_2011', 'se_m_2012', 'se_m_2013', 'se_m_2014',
               'se_m_2015', 'se_m_2016', 'se_m_2017', 'se_m_2018', 'se_m_2019',
               'se_m_2020'], axis=1, inplace=True)
 
df_edu02.drop(['pr_f_1990', 'pr_f_1991', 'pr_f_1992', 'pr_f_1993', 'pr_f_1994',           # Eliminaci√≥n de las columnas del porcentaje de esca√±os en el parlamento, femenino (% ocupado por mujeres) 
               'pr_f_1995', 'pr_f_1996', 'pr_f_1997', 'pr_f_1998', 'pr_f_1999',
               'pr_f_2000', 'pr_f_2001', 'pr_f_2002', 'pr_f_2003', 'pr_f_2004',
               'pr_f_2005', 'pr_f_2006', 'pr_f_2007', 'pr_f_2008', 'pr_f_2009',
               'pr_f_2010', 'pr_f_2011', 'pr_f_2012', 'pr_f_2013', 'pr_f_2014',
               'pr_f_2015', 'pr_f_2016', 'pr_f_2017', 'pr_f_2018', 'pr_f_2019',
               'pr_f_2020', 'pr_f_2021'], axis=1, inplace=True)
     
df_edu02.drop(['pr_m_1990', 'pr_m_1991', 'pr_m_1992', 'pr_m_1993', 'pr_m_1994',           # Eliminaci√≥n de las columnas del porcentaje de esca√±os en el parlamento, hombres (% ocupado por hombres)
               'pr_m_1995', 'pr_m_1996', 'pr_m_1997', 'pr_m_1998', 'pr_m_1999',
               'pr_m_2000', 'pr_m_2001', 'pr_m_2002', 'pr_m_2003', 'pr_m_2004',
               'pr_m_2005', 'pr_m_2006', 'pr_m_2007', 'pr_m_2008', 'pr_m_2009',
               'pr_m_2010', 'pr_m_2011', 'pr_m_2012', 'pr_m_2013', 'pr_m_2014',
               'pr_m_2015', 'pr_m_2016', 'pr_m_2017', 'pr_m_2018', 'pr_m_2019',
               'pr_m_2020', 'pr_m_2021'], axis=1, inplace=True)
  
df_edu02.drop(['lfpr_f_1990', 'lfpr_f_1991', 'lfpr_f_1992', 'lfpr_f_1993',                # Eliminaci√≥n de las columnas no necesarias, de la tasa de participaci√≥n en la fuerza laboral, femenino (% mayores de 15 a√±os)
               'lfpr_f_1994', 'lfpr_f_1995', 'lfpr_f_1996', 'lfpr_f_1997',
               'lfpr_f_1998', 'lfpr_f_1999', 'lfpr_f_2000', 'lfpr_f_2001',
               'lfpr_f_2002', 'lfpr_f_2003', 'lfpr_f_2004', 'lfpr_f_2005',
               'lfpr_f_2006', 'lfpr_f_2007', 'lfpr_f_2008', 'lfpr_f_2009',
               'lfpr_f_2010', 'lfpr_f_2011', 'lfpr_f_2012', 'lfpr_f_2013',
               'lfpr_f_2014', 'lfpr_f_2015', 'lfpr_f_2016', 'lfpr_f_2017',
               'lfpr_f_2018', 'lfpr_f_2019', 'lfpr_f_2020'], 
              axis=1, inplace=True)

df_edu02.drop(['lfpr_m_1990', 'lfpr_m_1991', 'lfpr_m_1992', 'lfpr_m_1993',                # Eliminaci√≥n de las columnas no necesarias, de la tasa de participaci√≥n en la fuerza laboral, masculina (% mayores de 15 a√±os)
               'lfpr_m_1994', 'lfpr_m_1995', 'lfpr_m_1996', 'lfpr_m_1997', 
               'lfpr_m_1998', 'lfpr_m_1999', 'lfpr_m_2000', 'lfpr_m_2001',
               'lfpr_m_2002', 'lfpr_m_2003', 'lfpr_m_2004', 'lfpr_m_2005',
               'lfpr_m_2006', 'lfpr_m_2007', 'lfpr_m_2008', 'lfpr_m_2009',
               'lfpr_m_2010', 'lfpr_m_2011', 'lfpr_m_2012', 'lfpr_m_2013',
               'lfpr_m_2014', 'lfpr_m_2015', 'lfpr_m_2016', 'lfpr_m_2017',
               'lfpr_m_2018', 'lfpr_m_2019', 'lfpr_m_2020'], 
              axis=1, inplace=True)

df_edu02.drop(['phdi_1990', 'phdi_1991', 'phdi_1992', 'phdi_1993', 'phdi_1994',           # Eliminaci√≥n de las columnas del √≠ndice de desarrollo humano ajustado por presiones planetarias
               'phdi_1995', 'phdi_1996', 'phdi_1997', 'phdi_1998', 'phdi_1999',
               'phdi_2000', 'phdi_2001', 'phdi_2002', 'phdi_2003', 'phdi_2004',
               'phdi_2005', 'phdi_2006', 'phdi_2007', 'phdi_2008', 'phdi_2009',
               'phdi_2010', 'phdi_2011', 'phdi_2012', 'phdi_2013', 'phdi_2014',
               'phdi_2015', 'phdi_2016', 'phdi_2017', 'phdi_2018', 'phdi_2019',
               'phdi_2020', 'phdi_2021'], axis=1, inplace=True)
    
df_edu02.drop(['diff_hdi_phdi_1990', 'diff_hdi_phdi_1991', 'diff_hdi_phdi_1992',          # Eliminaci√≥n de las columnas de la diferencia del valor hdi (%)
               'diff_hdi_phdi_1993', 'diff_hdi_phdi_1994', 'diff_hdi_phdi_1995',
               'diff_hdi_phdi_1996', 'diff_hdi_phdi_1997', 'diff_hdi_phdi_1998',
               'diff_hdi_phdi_1999', 'diff_hdi_phdi_2000', 'diff_hdi_phdi_2001',
               'diff_hdi_phdi_2002', 'diff_hdi_phdi_2003', 'diff_hdi_phdi_2004',
               'diff_hdi_phdi_2005', 'diff_hdi_phdi_2006', 'diff_hdi_phdi_2007', 
               'diff_hdi_phdi_2008', 'diff_hdi_phdi_2009', 'diff_hdi_phdi_2010',
               'diff_hdi_phdi_2011', 'diff_hdi_phdi_2012', 'diff_hdi_phdi_2013',
               'diff_hdi_phdi_2014', 'diff_hdi_phdi_2015', 'diff_hdi_phdi_2016',
               'diff_hdi_phdi_2017', 'diff_hdi_phdi_2018', 'diff_hdi_phdi_2019',
               'diff_hdi_phdi_2020', 'diff_hdi_phdi_2021'], 
              axis=1, inplace=True)
   
df_edu02.drop(['rankdiff_hdi_phdi_2021'], axis=1, inplace=True)                           # Eliminaci√≥n de la columna del ranking diferencia del valor hdi (%)
  
df_edu02.drop(['gdi_group_2021'], axis=1, inplace=True)                                   # Eliminaci√≥n de la columna del grupo √≠ndice de desarrollo de g√©nero
 
df_edu02.drop(['gii_rank_2021'], axis=1, inplace=True)                                    # Eliminaci√≥n de la columna del rango √≠ndice de desigualdad de g√©nero
 
df_edu02.drop(['co2_prod_1990', 'co2_prod_1991', 'co2_prod_1992', 'co2_prod_1993',        # Eliminaci√≥n de las columnas no necesarias, de las emisiones de di√≥xido de carbono per c√°pita (producci√≥n en toneladas)
               'co2_prod_1994', 'co2_prod_1995', 'co2_prod_1996', 'co2_prod_1997',
               'co2_prod_1998', 'co2_prod_1999', 'co2_prod_2000', 'co2_prod_2001',
               'co2_prod_2002', 'co2_prod_2003', 'co2_prod_2004', 'co2_prod_2005',
               'co2_prod_2006', 'co2_prod_2007', 'co2_prod_2008', 'co2_prod_2009',
               'co2_prod_2010', 'co2_prod_2011', 'co2_prod_2012', 'co2_prod_2013',
               'co2_prod_2014', 'co2_prod_2015', 'co2_prod_2016', 'co2_prod_2017',
               'co2_prod_2018', 'co2_prod_2019', 'co2_prod_2020'], 
              axis=1, inplace=True)

df_edu02.drop(['mf_1990', 'mf_1991', 'mf_1992', 'mf_1993', 'mf_1994', 'mf_1995',          # Eliminaci√≥n de las columnas no necesarias, de la huella material per c√°pita (toneladas)
               'mf_1996', 'mf_1997', 'mf_1998', 'mf_1999', 'mf_2000', 'mf_2001',
               'mf_2002', 'mf_2003', 'mf_2004', 'mf_2005', 'mf_2006', 'mf_2007', 
               'mf_2008', 'mf_2009', 'mf_2010', 'mf_2011', 'mf_2012', 'mf_2013',
               'mf_2014', 'mf_2015', 'mf_2016', 'mf_2017', 'mf_2018', 'mf_2019',
               'mf_2020'], axis=1, inplace=True)

# Renombramos columnas para hacer m√°s manejable el df
#     1.  iso3                    ->  codigo_pais                     (c√≥digo pa√≠s)
#     2.  le_2021                 ->  espernza_vida                   (esperanza de vida -a√±os-)
#     3.  mys_2021                ->  promedio_anos_escolaridad       (promnedio a√±os de escolaridad)
#     4.  gnipc_2021              ->  ingreso_nacional_bruto_pc       (ingreso nacional bruto per c√°pita)   
#     5.  le_f_2021               ->  espernza_vida_f                 (esperanza de vida al nacer, femenina -a√±os-)
#     6.  mys_f_2021              ->  promedio_anos_escolaridad_f     (promedio de a√±os de escolaridad, masculino)
#     7.  gni_pc_f_2021           ->  ingreso_nacional_bruto_pc_f     (ingreso nacional bruto per c√°pita, femenino)
#     8.  le_m_2021               ->  espernza_vida_m                 (esperanza de vida al nacer, masculina -a√±os-)
#     9.  mys_m_2021              ->  promedio_anos_escolaridad_m     (promedio de a√±os de escolaridad, masculino)
#     10. gni_pc_m_2021           ->  ingreso_nacional_bruto_pc_m     (ingreso nacional bruto per c√°pita, masculino)
#     11. mmr_2021                ->  tasa_mortalidad_materna         (tasa de mortalidad materna -muertes por cada 100.000 nacidos vivos-)
#     12. abr_2021                ->  tasa_natalidad_adolescente      (tasa de natalidad adolescente -nacimientos por cada 1000 mujeres de 15 a 19 a√±os-)
#     13. se_f_2021               ->  algo_educaci√≥n_secundaria_f     (poblaci√≥n con al menos algo de educaci√≥n secundaria, femenina -% de 25 a√±os y m√°s-)
#     14. se_m_2021               ->  algo_educaci√≥n_secundaria_m     (poblaci√≥n con al menos algo de educaci√≥n secundaria, masculina -% de 25 a√±os y m√°s-)
#     15. lfpr_f_2021             ->  tasa_participacion_laboral_f    (tasa de participaci√≥n en la fuerza laboral, femenina -% mayores de 15 a√±os-)
#     16. lfpr_m_2021             ->  tasa_participacion_laboral_m    (tasa de participaci√≥n en la fuerza laboral, masculina -% mayores de 15 a√±os-)  
#     17. co2_prod_2021           ->  emisiones_co2_pc                (emisiones de di√≥xido de carbono per c√°pita -producci√≥n en toneladas-)                  
#     18. mf_2021                 ->  huella_material_pc              (huella material per c√°pita -toneladas-)
df_edu02.set_axis(['codigo_pais', 'espernza_vida', 'promedio_anos_escolaridad',
                    'ingreso_nacional_bruto_pc', 'espernza_vida_f',
                    'promedio_anos_escolaridad_f', 'ingreso_nacional_bruto_pc_f',
                    'espernza_vida_m', 'promedio_anos_escolaridad_m',
                    'ingreso_nacional_bruto_pc_m', 'tasa_mortalidad_materna',
                    'tasa_natalidad_adolescente', 'algo_educaci√≥n_secundaria_f',
                    'algo_educaci√≥n_secundaria_m', 'tasa_participacion_laboral_f',
                    'tasa_participacion_laboral_m', 'emisiones_co2_pc',
                    'huella_material_pc'], axis=1, inplace = True)

print('--- Columnas de df_edu02 ---')
for column in df_edu02:                                                               # Comprobaci√≥n de columnas del df
  print(column)

df_edu02['codigo_pais'] = df_edu02['codigo_pais'].str.lower()                         # Estandarizaci√≥n del c√≥digo de poblaci√≥n (iso3) a min√∫sculas

print('--- Comprobaci√≥n de df_edu02 ---')
print(df_edu02.info)                                                                  # df ya tiene la calidad necesaria, pero todav√≠a hay informaci√≥n relativa a > 193 paises
 
df_edu_copy = df_edu02[df_edu02.codigo_pais.isin(df_pai01['codigo_pais'])]            # Selecci√≥n solo de los registros que est√©n incluidos en nuestro dataset de paises

print('--- Comprobaci√≥n final de df_edu_copy ---')
print(df_edu_copy.info)                                                               # df ya tiene la calidad necesaria

df_edu02 = df_edu_copy                                                                # Volcado de la copia del df con el que hemos trabajado en el original y listo

print('--- Comprobaci√≥n final de df_edu02 ---')
print(df_edu02.info)                                                                  # df ya tiene la calidad necesaria

--- Comprobaci√≥n final de df_edu01 ---
<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
42763     Zimbabwe          ZWE
42764     Zimbabwe          ZWE
42765     Zimbabwe          ZWE
42766     Zimbabwe          ZWE
42767     Zimbabwe          ZWE

                                          Indicator Name  \
0          Population ages 15-64 (% of total population)
1           Population ages 0-14 (% of total population)
2      Unemployment, total (% of total labor force) (...
3      Unemployment, male (% of male labor force) (mo...
4      Unemployment, female (% of female labor force)...
...                                                  ...
42763  Literacy rate, adult female (% of females ages...
42764  Literacy rate, youth total (% of people ages 1...
42765  Literacy rate, youth male (% of males ages 15-24)
42766  Literacy rate, youth (ages 15-24), gender pari...
42767  Literacy rate, youth female (% of females ages...

             Indicator Code       1960       1961       1962       1963  \
0         SP.POP.1564.TO.ZS  53.669919  54.056784  54.383281  54.710292
1         SP.POP.0014.TO.ZS  43.847190  43.358346  42.925745  42.488756
2            SL.UEM.TOTL.ZS        NaN        NaN        NaN        NaN
3         SL.UEM.TOTL.MA.ZS        NaN        NaN        NaN        NaN
4         SL.UEM.TOTL.FE.ZS        NaN        NaN        NaN        NaN
...                     ...        ...        ...        ...        ...
42763     SE.ADT.LITR.FE.ZS        NaN        NaN        NaN        NaN
42764     SE.ADT.1524.LT.ZS        NaN        NaN        NaN        NaN
42765  SE.ADT.1524.LT.MA.ZS        NaN        NaN        NaN        NaN
42766  SE.ADT.1524.LT.FM.ZS        NaN        NaN        NaN        NaN
42767  SE.ADT.1524.LT.FE.ZS        NaN        NaN        NaN        NaN

            1964       1965  ...       2011       2012       2013       2014  \
0      55.119933  55.631102  ...  68.885601  68.986934  69.108851  69.181105
1      41.950133  41.290098  ...  20.530937  20.092629  19.593055  19.111724
2            NaN        NaN  ...        NaN        NaN        NaN        NaN
3            NaN        NaN  ...        NaN        NaN        NaN        NaN
4            NaN        NaN  ...        NaN        NaN        NaN        NaN
...          ...        ...  ...        ...        ...        ...        ...
42763        NaN        NaN  ...  80.065659        NaN        NaN  88.283829
42764        NaN        NaN  ...  90.930702        NaN        NaN  90.428123
42765        NaN        NaN  ...  89.590584        NaN        NaN  87.591858
42766        NaN        NaN  ...   1.027510        NaN        NaN   1.060060
42767        NaN        NaN  ...  92.124557        NaN        NaN  93.188347

            2015       2016       2017       2018       2019  2020
0      69.159774  69.137615  68.946339  68.646606  68.321199   NaN
1      18.703098  18.257495  17.980183  17.802447  17.620445   NaN
2            NaN        NaN        NaN        NaN        NaN   NaN
3            NaN        NaN        NaN        NaN        NaN   NaN
4            NaN        NaN        NaN        NaN        NaN   NaN
...          ...        ...        ...        ...        ...   ...
42763        NaN        NaN        NaN        NaN        NaN   NaN
42764        NaN        NaN        NaN        NaN        NaN   NaN
42765        NaN        NaN        NaN        NaN        NaN   NaN
42766        NaN        NaN        NaN        NaN        NaN   NaN
42767        NaN        NaN        NaN        NaN        NaN   NaN

[42768 rows x 65 columns]>
--- Comprobaci√≥n final de df_edu02 ---
<bound method DataFrame.info of           iso3                          country    hdicode region  \
0          AFG                      Afghanistan        Low     SA
1          AGO                           Angola     Medium    SSA
2          ALB                          Albania       High    ECA
3          AND                          Andorra  Very High    NaN
4          ARE             United Arab Emirates  Very High     AS
..         ...                              ...        ...    ...
201    ZZG.ECA          Europe and Central Asia        NaN    NaN
202    ZZH.LAC  Latin America and the Caribbean        NaN    NaN
203     ZZI.SA                       South Asia        NaN    NaN
204    ZZJ.SSA               Sub-Saharan Africa        NaN    NaN
205  ZZK.WORLD                            World        NaN    NaN

     hdi_rank_2021  hdi_1990  hdi_1991  hdi_1992  hdi_1993  hdi_1994  ...  \
0            180.0     0.273     0.279     0.287     0.297     0.292  ...
1            148.0       NaN       NaN       NaN       NaN       NaN  ...
2             67.0     0.647     0.629     0.614     0.617     0.624  ...
3             40.0       NaN       NaN       NaN       NaN       NaN  ...
4             26.0     0.728     0.739     0.742     0.748     0.755  ...
..             ...       ...       ...       ...       ...       ...  ...
201            NaN     0.664     0.661     0.654     0.652     0.647  ...
202            NaN     0.633     0.638     0.643     0.648     0.654  ...
203            NaN     0.442     0.447     0.453     0.457     0.462  ...
204            NaN     0.407     0.410     0.410     0.411     0.413  ...
205            NaN     0.601     0.604     0.607     0.610     0.614  ...

       mf_2012    mf_2013    mf_2014    mf_2015    mf_2016    mf_2017  \
0     1.860000   1.880000   1.660000   1.620000   1.660000   1.410000
1     4.090000   4.530000   3.970000   3.590000   2.790000   2.640000
2    12.440000  11.490000  13.140000  12.610000  14.390000  14.460000
3          NaN        NaN        NaN        NaN        NaN        NaN
4    49.560000  49.680000  55.490000  59.760000  64.950000  75.610000
..         ...        ...        ...        ...        ...        ...
201  13.107171  14.172082  14.189127  14.523162  13.791770  13.618078
202  14.114108  14.493145  14.080904  14.146026  13.325144  13.604555
203   4.699407   4.584935   4.486500   4.610546   4.624886   4.740263
204   3.437760   3.530479   3.491150   3.494860   3.415511   3.256156
205  12.186601  12.474065  12.520563  12.372667  12.277707  12.277878

       mf_2018    mf_2019    mf_2020    mf_2021
0     1.320000   1.380000   1.380000   1.380000
1     2.280000   2.180000   2.180000   2.180000
2    12.850000  12.960000  12.960000  12.960000
3          NaN        NaN        NaN        NaN
4    65.970000  68.950000  68.950000  68.950000
..         ...        ...        ...        ...
201  13.914030  14.087293  14.091826  14.096719
202  13.151315  13.296195  13.290914  13.284745
203   5.000024   5.110230   5.106447   5.102134
204   3.145930   3.151076   3.146092   3.140740
205  12.220286  12.375236  12.325166  12.271920

[206 rows x 1008 columns]>
--- Columnas de df_edu02 ---
codigo_pais
espernza_vida
promedio_anos_escolaridad
ingreso_nacional_bruto_pc
espernza_vida_f
promedio_anos_escolaridad_f
ingreso_nacional_bruto_pc_f
espernza_vida_m
promedio_anos_escolaridad_m
ingreso_nacional_bruto_pc_m
tasa_mortalidad_materna
tasa_natalidad_adolescente
algo_educaci√≥n_secundaria_f
algo_educaci√≥n_secundaria_m
tasa_participacion_laboral_f
tasa_participacion_laboral_m
emisiones_co2_pc
huella_material_pc
--- Comprobaci√≥n de df_edu02 ---
<bound method DataFrame.info of     codigo_pais  espernza_vida  promedio_anos_escolaridad  \
0           afg      61.982400                   2.985070
1           ago      61.643400                   5.417391
2           alb      76.462600                  11.286455
3           and      80.368400                  10.555120
4           are      78.710400                  12.694030
..          ...            ...                        ...
201     zzg.eca      72.856526                  10.553922
202     zzh.lac      72.099890                   8.997700
203      zzi.sa      67.855530                   6.710321
204     zzj.ssa      60.112467                   6.001639
205   zzk.world      71.365465                   8.617461

     ingreso_nacional_bruto_pc  espernza_vida_f  promedio_anos_escolaridad_f  \
0                  1824.190915        65.279100                     2.311080
1                  5465.617791        64.306600                     4.183876
2                 14131.110390        79.172600                    11.684433
3                 51166.626610        84.323800                    10.481139
4                 62573.591810        80.937100                    12.525340
..                         ...              ...                          ...
201               19351.837020        76.427995                    10.351608
202               14520.661240        75.646671                     9.026251
203                6481.393135        69.760419                     6.279472
204                3698.868914        62.124062                     5.103810
205               16752.082920        73.978842                     8.358083

     ingreso_nacional_bruto_pc_f  espernza_vida_m  \
0                     532.955368        58.914700
1                    4751.373256        59.029100
2                   11637.215670        74.086900
3                            NaN        77.172300
4                   28921.144820        77.216400
..                           ...              ...
201                 13162.180910        69.394808
202                 10667.406800        68.761084
203                  2351.804366        66.126503
204                  2969.613374        58.158274
205                 12241.224180        68.912899

     promedio_anos_escolaridad_m  ingreso_nacional_bruto_pc_m  \
0                       3.401310                  3089.270418
1                       6.894269                  6196.650485
2                      10.920695                 16629.902110
3                      10.627977                          NaN
4                      12.805080                 77317.680170
..                           ...                          ...
201                    10.775279                 25834.474760
202                     8.965192                 18485.720550
203                     7.251328                 10425.549080
204                     6.876032                  4429.390375
205                     8.913211                 21210.277680

     tasa_mortalidad_materna  tasa_natalidad_adolescente  \
0                 638.000000                   82.565000
1                 241.000000                  138.402000
2                  15.000000                   14.517000
3                        NaN                    5.887000
4                   3.000000                    3.085000
..                       ...                         ...
201                20.275766                   20.131623
202                75.030838                   53.389333
203               153.268313                   28.937075
204               535.658813                  100.877877
205               225.406503                   42.529066

     algo_educaci√≥n_secundaria_f  algo_educaci√≥n_secundaria_m  \
0                       6.395730                    14.865710
1                      28.163900                    51.546170
2                      95.387505                    93.038415
3                      70.665854                    72.422097
4                      81.997002                    85.596741
..                           ...                          ...
201                    83.352395                    89.748839
202                    63.160863                    63.171381
203                    42.188378                    52.817241
204                    31.147249                    44.269573
205                    64.154258                    70.316516

     tasa_participacion_laboral_f  tasa_participacion_laboral_m  \
0                       14.848000                     66.515000
1                       73.968000                     79.071000
2                       50.733000                     66.154000
3                             NaN                           NaN
4                       46.542000                     88.003000
..                            ...                           ...
201                     42.926377                     67.038752
202                     48.630181                     72.656571
203                     21.594128                     71.585599
204                     62.144428                     72.253662
205                     46.200447                     71.691740

     emisiones_co2_pc  huella_material_pc
0            0.312376            1.380000
1            0.675410            2.180000
2            1.575754           12.960000
3            6.034945                 NaN
4           15.193336           68.950000
..                ...                 ...
201          5.233625           14.096719
202          2.324879           13.284745
203          1.843217            5.102134
204          0.719480            3.140740
205          4.274185           12.271920

[206 rows x 18 columns]>
--- Comprobaci√≥n final de df_edu_copy ---
<bound method DataFrame.info of     codigo_pais  espernza_vida  promedio_anos_escolaridad  \
0           afg        61.9824                   2.985070
1           ago        61.6434                   5.417391
2           alb        76.4626                  11.286455
3           and        80.3684                  10.555120
4           are        78.7104                  12.694030
..          ...            ...                        ...
190         wsm        72.7675                  11.403800
191         yem        63.7534                   3.200000
192         zaf        62.3410                  11.373160
193         zmb        61.2234                   7.187091
194         zwe        59.2531                   8.710909

     ingreso_nacional_bruto_pc  espernza_vida_f  promedio_anos_escolaridad_f  \
0                  1824.190915          65.2791                     2.311080
1                  5465.617791          64.3066                     4.183876
2                 14131.110390          79.1726                    11.684433
3                 51166.626610          84.3238                    10.481139
4                 62573.591810          80.9371                    12.525340
..                         ...              ...                          ...
190                5307.953374          75.5034                    11.774100
191                1314.270189          67.1339                     2.880000
192               12948.373250          64.9992                     9.657390
193                3217.767739          63.9276                     7.179212
194                3809.887158          62.0449                     8.296558

     ingreso_nacional_bruto_pc_f  espernza_vida_m  \
0                     532.955368          58.9147
1                    4751.373256          59.0291
2                   11637.215670          74.0869
3                            NaN          77.1723
4                   28921.144820          77.2164
..                           ...              ...
190                  3222.698050          70.3119
191                   176.059448          60.6287
192                  9934.611438          59.4575
193                  2614.505084          58.4872
194                  3285.933585          56.2321

     promedio_anos_escolaridad_m  ingreso_nacional_bruto_pc_m  \
0                       3.401310                  3089.270418
1                       6.894269                  6196.650485
2                      10.920695                 16629.902110
3                      10.627977                          NaN
4                      12.805080                 77317.680170
..                           ...                          ...
190                    11.028120                  7312.135531
191                     5.146000                  2428.224415
192                    12.152350                 16129.334930
193                     7.225678                  3837.046888
194                     9.190648                  4396.777680

     tasa_mortalidad_materna  tasa_natalidad_adolescente  \
0                      638.0                      82.565
1                      241.0                     138.402
2                       15.0                      14.517
3                        NaN                       5.887
4                        3.0                       3.085
..                       ...                         ...
190                     43.0                      43.589
191                    164.0                      54.404
192                    119.0                      61.206
193                    213.0                     117.017
194                    458.0                      94.312

     algo_educaci√≥n_secundaria_f  algo_educaci√≥n_secundaria_m  \
0                       6.395730                    14.865710
1                      28.163900                    51.546170
2                      95.387505                    93.038415
3                      70.665854                    72.422097
4                      81.997002                    85.596741
..                           ...                          ...
190                    79.127486                    71.582922
191                    22.440000                    37.520000
192                    68.897713                    87.666222
193                    47.104201                    56.811897
194                    61.768211                    72.444503

     tasa_participacion_laboral_f  tasa_participacion_laboral_m  \
0                          14.848                        66.515
1                          73.968                        79.071
2                          50.733                        66.154
3                             NaN                           NaN
4                          46.542                        88.003
..                            ...                           ...
190                        30.700                        54.237
191                         5.995                        67.637
192                        46.212                        59.883
193                        69.230                        77.847
194                        79.308                        88.933

     emisiones_co2_pc  huella_material_pc
0            0.312376                1.38
1            0.675410                2.18
2            1.575754               12.96
3            6.034945                 NaN
4           15.193336               68.95
..                ...                 ...
190          1.238975                 NaN
191          0.327510                2.89
192          7.620420                7.55
193          0.357535                2.38
194          0.708562                1.21

[193 rows x 18 columns]>
--- Comprobaci√≥n final de df_edu02 ---
<bound method DataFrame.info of     codigo_pais  espernza_vida  promedio_anos_escolaridad  \
0           afg        61.9824                   2.985070
1           ago        61.6434                   5.417391
2           alb        76.4626                  11.286455
3           and        80.3684                  10.555120
4           are        78.7104                  12.694030
..          ...            ...                        ...
190         wsm        72.7675                  11.403800
191         yem        63.7534                   3.200000
192         zaf        62.3410                  11.373160
193         zmb        61.2234                   7.187091
194         zwe        59.2531                   8.710909

     ingreso_nacional_bruto_pc  espernza_vida_f  promedio_anos_escolaridad_f  \
0                  1824.190915          65.2791                     2.311080

## Desarrollo econ√≥mico (extracci√≥n y transformaci√≥n)

In [119]:
# EXTRACCI√ìN DE DATOS
df_des01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Economic Growth')     # Lectura del dataset 01
print('--- Comprobaci√≥n de df_des01 ---')
print(df_des01.info)                                                                    # df tiene la calidad necesaria  
df_des02 = pd.read_csv('/content/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_4701072.csv')      # Lectura del dataset 02 (df_des01 deprecated)
print('--- Comprobaci√≥n de df_des02 ---')
print(df_des02.info)                                                                    # df ya tiene la calidad necesaria

# TRANSFORMACI√ìN DE DATOS
print('--- Columnas de df_des02 ---')
for column in df_des02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

df_des02.drop(['Country Name', '1960', '1961', '1962', '1963', '1964', '1965',          # Eliminaci√≥n de las columnas no necesarias
               '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
               '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
               '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
               '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
               '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
               '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', 
               '2014', '2015', '2016', '2017', '2018', '2019', '2020', 
               'Indicator Code'], axis=1, inplace = True)

print('--- Columnas de df_des02 ---')
for column in df_des02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n de df_des02 ---')
print(df_des02.info)                                                                    # df ya tiene la calidad necesaria

df_des02.set_axis(['codigo_pais', 'indicador', 'valor','x'],                            # Renombrado de columnas para estandarizar nombres
                  axis=1, inplace=True)

df_des02.drop(['x'], axis=1, inplace=True)                                              # Eliminaci√≥n de las columnas no necesarias

df_des02['codigo_pais'] = df_des02['codigo_pais'].str.lower()                           # Estandarizaci√≥n del c√≥digo de poblaci√≥n (iso3) a min√∫sculas

df_des_copy = df_des02[df_des02.codigo_pais.isin(df_pai01['codigo_pais'])]              # Selecci√≥n solo de los registros que est√©n incluidos en nuestro dataset de paises

df_des02 = df_des_copy                                                                  # Volcado de la copia del df con el que hemos trabajado en el original

'''
  Para poder limpiar y traducir, contenidos de campos, debemos
  agrupar los campos (por contenido), para ver las ocurrencias 
  de cada contenido y cu√°les son esos contenidos
'''
print('--- Indicadores a traducir ---')
print(df_des02.groupby(["indicador"])["indicador"].count())                             # Comprobaci√≥n de indicadores (antes de limpiar)

'''
  Comprobamos que s√≥lo es un indicador, que traducido es
  Tasa anual de crecimiento del PIB, entonces renombramos la 
  columna valor con el nombre del indicador y eliminamos la columna indicador
'''
df_des02.set_axis(['codigo_pais', 'indicador', 'tasa_crecimiento_pib'],                 # Renombrado de columnas para estandarizar nombres
                  axis=1, inplace=True)

df_des02.drop(['indicador'], axis=1, inplace=True)                                      # Eliminaci√≥n de las columnas no necesarias

print('--- Comprobaci√≥n final de df_des02 ---')
print(df_des02.info)                                                                    # df ya tiene la calidad necesaria

--- Comprobaci√≥n de df_des01 ---
<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
64675     Zimbabwe          ZWE
64676     Zimbabwe          ZWE
64677     Zimbabwe          ZWE
64678     Zimbabwe          ZWE
64679     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      PPP conversion factor, private consumption (LC...     PA.NUS.PRVT.PP
1      Price level ratio of PPP conversion factor (GD...     PA.NUS.PPPC.RF
2      PPP conversion factor, GDP (LCU per internatio...         PA.NUS.PPP
3        DEC alternative conversion factor (LCU per US$)        PA.NUS.ATLS
4               Terms of trade adjustment (constant LCU)     NY.TTF.GNFS.KN
...                                                  ...                ...
64675  Insurance and financial services (% of service...     BM.GSR.INSF.ZS
64676   Imports of goods and services (BoP, current US$)     BM.GSR.GNFS.CD
64677         Primary income payments (BoP, current US$)     BM.GSR.FCTY.CD
64678  Communications, computer, etc. (% of service i...     BM.GSR.CMCP.ZS
64679                       Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS

       1960  1961  1962  1963  1964  1965  ...          2011          2012  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.637763e+00  1.543367e+00
1       NaN   NaN   NaN   NaN   NaN   NaN  ...  7.278998e-01  7.362019e-01
2       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.302941e+00  1.317801e+00
3       NaN   NaN   NaN   NaN   NaN   NaN  ...  1.790000e+00  1.790000e+00
4       NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
...     ...   ...   ...   ...   ...   ...  ...           ...           ...
64675   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN           NaN
64676   NaN   NaN   NaN   NaN   NaN   NaN  ...  9.272501e+09  8.386153e+09
64677   NaN   NaN   NaN   NaN   NaN   NaN  ...  2.555802e+08  2.972022e+08
64678   NaN   NaN   NaN   NaN   NaN   NaN  ...  3.116783e+01  3.151200e+01
64679   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.532937e+01  1.236697e+01

               2013          2014          2015          2016          2017  \
0      1.513201e+00  1.509406e+00  1.527644e+00  1.496794e+00  1.480481e+00
1      7.179559e-01  7.311971e-01  7.610715e-01  7.570082e-01  7.545752e-01
2      1.285141e+00  1.308843e+00  1.362318e+00  1.355045e+00  1.350690e+00
3      1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00  1.790000e+00
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
64675           NaN  0.000000e+00  0.000000e+00  0.000000e+00  1.288252e+01
64676  8.601002e+09  8.187004e+09  7.503865e+09  6.426700e+09  6.559418e+09
64677  2.944554e+08  3.443138e+08  3.695732e+08  3.986379e+08  3.915782e+08
64678  3.208911e+01  3.167977e+01  3.894505e+01  4.466696e+01  3.454522e+01
64679  1.178003e+01  1.188213e+01  9.569889e+00  8.080966e+00  6.858633e+00

           2018      2019  2020
0      1.497584  1.533552   NaN
1           NaN       NaN   NaN
2           NaN       NaN   NaN
3      1.790000  1.790000   NaN
4           NaN       NaN   NaN
...         ...       ...   ...
64675       NaN       NaN   NaN
64676       NaN       NaN   NaN
64677       NaN       NaN   NaN
64678       NaN       NaN   NaN
64679       NaN       NaN   NaN

[64680 rows x 65 columns]>
--- Comprobaci√≥n de df_des02 ---
<bound method DataFrame.info of                     Country Name Country Code         Indicator Name  \
0                          Aruba          ABW  GDP growth (annual %)
1    Africa Eastern and Southern          AFE  GDP growth (annual %)
2                    Afghanistan          AFG  GDP growth (annual %)
3     Africa Western and Central          AFW  GDP growth (annual %)
4                         Angola          AGO  GDP growth (annual %)
..                           ...          ...                    ...
261                       Kosovo          XKX  GDP growth (annual %)
262                  Yemen, Rep.          YEM  GDP growth (annual %)
263                 South Africa          ZAF  GDP growth (annual %)
264                       Zambia          ZMB  GDP growth (annual %)
265                     Zimbabwe          ZWE  GDP growth (annual %)

        Indicator Code  1960      1961      1962      1963       1964  \
0    NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN        NaN
1    NY.GDP.MKTP.KD.ZG   NaN  0.239594  7.980768  5.164334   4.579952
2    NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN        NaN
3    NY.GDP.MKTP.KD.ZG   NaN  1.848752  3.770220  7.272440   5.396349
4    NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN        NaN
..                 ...   ...       ...       ...       ...        ...
261  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN        NaN
262  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN        NaN
263  NY.GDP.MKTP.KD.ZG   NaN  3.844734  6.177931  7.373709   7.939609
264  NY.GDP.MKTP.KD.ZG   NaN  1.361382 -2.490839  3.272393  12.214048
265  NY.GDP.MKTP.KD.ZG   NaN  6.316157  1.434471  6.244345  -1.106172

          1965  ...      2013      2014       2015      2016      2017  \
0          NaN  ...  6.429817 -0.020479   3.543630  2.116716  5.482371
1     5.327717  ...  4.200209  3.984387   2.952845  2.217017  2.557135
2          NaN  ...  5.600745  2.724543   1.451315  2.260314  2.647003
3     4.049793  ...  6.104192  5.927355   2.745894  0.127844  2.317679
4          NaN  ...  4.950000  4.820000   0.940000 -2.580000 -0.150000
..         ...  ...       ...       ...        ...       ...       ...
261        NaN  ...  5.340908  3.348804   5.916270  5.571757  4.825690
262        NaN  ...  4.823415 -0.188574 -27.994546 -9.375124 -5.071796
263   6.122798  ...  2.485468  1.413826   1.321862  0.664552  1.157947
264  16.647456  ...  5.057232  4.697992   2.920375  3.776679  3.504336
265   4.910571  ...  1.989493  2.376929   1.779873  0.755869  4.709492

         2018      2019       2020      2021  Unnamed: 66
0    1.267218 -2.085600 -22.318948       NaN          NaN
1    2.485244  2.025941  -2.886856  4.303667          NaN
2    1.189228  3.911603  -2.351101       NaN          NaN
3    2.952190  3.202544  -0.897014  3.914799          NaN
4   -1.316312 -0.700000  -5.500000  0.700000          NaN
..        ...       ...        ...       ...          ...
261  3.406631  4.756831  -5.340275  9.127578          NaN
262  0.752448  1.400000  -8.500000 -2.061513          NaN
263  1.487617  0.113054  -6.431975  4.914603          NaN
264  4.034494  1.441306  -2.785055  3.572815          NaN
265  4.824211 -6.144236  -6.248748  5.849420          NaN

[266 rows x 67 columns]>
--- Columnas de df_des02 ---
Country Name
Country Code
Indicator Name
Indicator Code
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
Unnamed: 66
--- Columnas de df_des02 ---
Country Code
Indicator Name
2021
Unnamed: 66
--- Comprobaci√≥n de df_des02 ---
<bound method DataFrame.info of     Country Code         Indicator Name      2021  Unnamed: 66
0            ABW  GDP growth (annual %)       NaN          NaN
1            AFE  GDP growth (annual %)  4.303667          NaN
2            AFG  GDP growth (annual %)       NaN          NaN
3            AFW  GDP growth (annual %)  3.914799          NaN
4            AGO  GDP growth (annual %)  0.700000          NaN
..           ...                    ...       ...          ...
261          XKX  GDP growth (annual %)  9.127578          NaN
262          YEM  GDP growth (annual %) -2.061513          NaN
263          ZAF  GDP growth (annual %)  4.914603          NaN
264          ZMB  GDP growth (annual %)  3.572815          NaN
265          ZWE  GDP growth (annual %)  5.849420          NaN

[266 rows x 4 columns]>
--- Indicadores a traducir ---
indicador
GDP growth (annual %)    193
Name: indicador, dtype: int64
--- Comprobaci√≥n final de df_des02 ---
<bound method DataFrame.info of     codigo_pais  tasa_crecimiento_pib
2           afg                   NaN
4           ago              0.700000
5           alb              8.544083
6           and              8.949418
8           are                   NaN
..          ...                   ...
260         wsm             -8.078563
262         yem             -2.061513
263         zaf              4.914603
264         zmb              3.572815
265         zwe              5.849420

[193 rows x 2 columns]>

## Salud (extracci√≥n y transformaci√≥n)

In [120]:
# EXTRACCI√ìN DE DATOS
df_sal01_a = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Health1')         # Lectura del dataset 01 (Hoja 1)
print('--- Comprobaci√≥n de df_sal01_a ---')
print(df_sal01_a.info)                                                                # df de Salud - hoja 1
df_sal01_b = pd.read_excel('/content/PopulationDataWorldBank.xlsx','Health2')         # Lectura del dataset 01 (Hoja 2)
print('--- Comprobaci√≥n de df_sal01_b ---')
print(df_sal01_b.info)                                                                # df de Salud - hoja 2
df_sal01 = pd.concat([df_sal01_a,df_sal01_b])   
print('--- Comprobaci√≥n de df_sal01 ---')                                             # df no tiene la calidad necesaria
print(df_sal01.info) 
df_sal02 = pd.read_excel('/content/NHA indicators.xlsx')                              # Lectura del dataset con la calidad requerida
print('--- Comprobaci√≥n final de df_sal02 ---')
print(df_sal02.info)                                                                  # df ya tiene la calidad necesaria

# TRANSFORMACI√ìN DE DATOS

'''
 Queda claro que la OMS no tiene datos disponibles del 2021, pero si del 2020, 
 como habitualmente los datos se recogen en el segundo trimestre, 
 cogeremos los datos del 2020 como si fuesen del 2021.
'''
df_sal02.drop(['2021'], axis=1, inplace=True)                                         # Eliminaci√≥n de las columnas no necesarias

df_sal02.set_axis(['pais', 'indicador', '2021'], axis=1, inplace=True)                # Renombrado de columnas para estandarizar nombres

'''
  Para poder limpiar y traducir, contenidos de campos, debemos
  agrupar los campos (por contenido), para ver las ocurrencias 
  de cada contenido y cu√°les son esos contenidos
'''
print('--- Indicadores a traducir ---')
print(df_sal02.groupby(["indicador"])["indicador"].count())                           # Comprobaci√≥n de indicadores (antes de limpiar)

'''
  Comprobamos que s√≥lo hay dos indicadores que se repitan en la mayor√≠a de paises, 
  que traducidos son:
    - Gasto corriente en salud como %  del PIB
    - Gasto corriente en salud per c√°pita en US$
  M√°s adelante, haremos un arreglo, pra transformas estas dos filas en columnas

  Ahora tenemos el problema de que la columna pa√≠s no nos interesa, 
  en su lugar queremos el c√≥digo del pa√≠s, pero adem√°s,
  el nombre del pa√≠s est√° en ingl√©s. Por lo tanto, hacemos un 
  inner join entre el df con 193 filas y el que tiene m√°s.
  Con esto ya tenemos relacionado, el c√≥digo del pa√≠s iso3 con
  el nombre en ingl√©s del pa√≠s.
'''

df_sal_eng = pd.merge(df_pai_eng, df_sal02, how='inner', left_on='name',                  # Eliminaci√≥n de las filas innecesarias en el df original
                      right_on='pais')
print('--- Paises en ingl√©s con su c√≥digo iso3 ---')
print(df_sal_eng.info)

'''
  Ahora debemos comprobar si, entre los paises que no ha unido, hay alguno que nos interesa.
  Iteramos para comprobar valores incluidos y no incluidos en df_pai_eng.
'''

print('--- Paises contenidos ---')                                                        # Control de filas que ha unido el join
intCont = 0
ntContE = 0
for row in df_sal02.pais:
  strPais = df_sal02.pais.iloc[intCont]
  intCont += 1
  if strPais in df_pai_eng.name.values:
    print(strPais)
    ntContE += 1
print('Total:', ntContE)

print('--- Paises no contenidos ---')                                                     # Control de filas que no ha unido el join
intCont  = 0
ntContNE = 0
for row in df_sal02.pais:
  strPais = df_sal02.pais.iloc[intCont]
  intCont += 1
  if strPais not in df_pai_eng.name.values:
    print(strPais)
    ntContNE += 1
print('Total:', ntContNE)

'''
  Buscamos los paises que no ha podido unir el join y a√±adimos una columna con el nombre 
  ant√≠guo (el que queremos substituir).
  Atenci√≥n:
    Ni Niue, ni las Islas Cook, son estados soberanos reconocidos por la ONU en 2021. 
    Son estados libres asociados a Nueva Zelanda, por lo tanto despreciamos estas filas.
'''

df_filtro01 = df_pai_eng[df_pai_eng['name'].str.contains(r"Cabo V*",                    # B√∫squeda con regex de las filas deseadas    
                            regex=True)] 
df_filtro01.insert(3, "old_name", ['Cabo Verde Republic of'], True)       
df_filtro02 = df_pai_eng[df_pai_eng['name'].str.contains(r"Congo, Democ*" ,     
                            regex=True)]
df_filtro02.insert(3, "old_name", ['Democratic Republic of the Congo'], True)  
df_filtro03 = df_pai_eng[df_pai_eng['name'].str.contains(r"Tanzania*",   
                            regex=True)]
df_filtro03.insert(3, "old_name", ['United Republic of Tanzania'], True)  
df_filtro04 = df_pai_eng[df_pai_eng['name'].str.contains(r"Bolivia*",    
                            regex=True)]
df_filtro04.insert(3, "old_name", ['Bolivia Plurinational States of'], True)  
df_filtro05 = df_pai_eng[df_pai_eng['name'].str.contains("Iran *",       
                            regex=True)]
df_filtro05.insert(3, "old_name", ['Iran'], True)  
df_filtro06 = df_pai_eng[df_pai_eng['name'].str.contains("Czech*",       
                            regex=True)]
df_filtro06.insert(3, "old_name", ['Czech Republic'], True)  
df_filtro07 = df_pai_eng[df_pai_eng['name'].str.contains("Netherlands*", 
                            regex=True)]
df_filtro07.insert(3, "old_name", ['Netherlands (Kingdom of the)'], True) 
df_filtro08 = df_pai_eng[df_pai_eng['name'].str.contains("Moldova*",     
                            regex=True)]
df_filtro08.insert(3, "old_name", ['Republic of Moldova'], True) 
df_filtro09 = df_pai_eng[df_pai_eng['name'].str.contains("North Macedonia*",       
                            regex=True)]
df_filtro09.insert(3, "old_name", ['The Republic of North Macedonia'], True) 
df_filtro10 = df_pai_eng[df_pai_eng['name'].str.contains("United Kingdom*",       
                            regex=True)]
df_filtro10.insert(3, "old_name", ['United Kingdom'], True) 
df_filtro11 = df_pai_eng[df_pai_eng['name'].str.contains("Korea, Republic*",       
                            regex=True)]
df_filtro11.insert(3, "old_name", ['Republic of Korea'], True) 

df_filtro = pd.concat([df_filtro01, df_filtro02, df_filtro03, df_filtro04,                # df con los valores que sustituyen y los sustituidos  
                       df_filtro05, df_filtro06, df_filtro07, df_filtro08, 
                       df_filtro09, df_filtro10, df_filtro11])

print('--- Comprobaci√≥n de que hemos encontrado las filas que no ha podido unir el join ---')
print(df_filtro)

'''
Los paises que transformaremos son:

1. Cabo Verde Republic of => Cabo Verde (2 filas)  
2. Democratic Republic of the Congo  => Congo, Democratic Republic of the (5 filas)  
3. United Republic of Tanzania => Tanzania, United Republic of (2 filas)  
4. Bolivia Plurinational States of  => Bolivia (Plurinational State of) (2 filas)  
5. Iran  => Iran (Islamic Republic of) (2 filas)  
6. Czech Republic  => Czechia (2 filas)  
7. Netherlands (Kingdom of the) => Netherlands (2 filas)
8. Moldova => Moldova, Republic of Republic of (2 filas)
9. North Macedonia => The Republic of North Macedonia (2 filas)
10. United Kingdom => United Kingdom of Great Britain and Northern Ireland  => (2 filas)  
12. Cook Islands (no transformamos)  
13. Niue (no transformamos)  
14. Korea => Korea, Republic of (2 filas)  

Recuento de filas
* Coincidentes 631  
* Total que han hecho match, de las no coincidentes: 25  
* Total que no han hecho match, de las no coincidentes: 5  
* Total: 661 registro originales

Con lo cual cambiamos valores en el df df_sal02, para igualar valores y poder obtener el id correcto
'''

print('--- Substituci√≥n de paises no contenidos ---')                                   # Susbtituci√≥n de los valores no enlazables por los enlazables
intCont=0
for row in df_sal02.pais:
  strPais = df_sal02.pais.iloc[intCont].strip()
  if strPais in df_filtro.old_name.values:
    dfn = df_filtro[df_filtro['old_name'] == strPais]
    nuevo_valor=dfn.name.values.item(0)
    df_sal02.pais.iloc[intCont]=nuevo_valor
  intCont+=1

print('--- Paises no contenidos ---')                                                   # Como paises no enlazados solo tenemos los que hemos rechazado (Islas Cook y Niue)
intCont  = 0
ntContNE = 0
for row in df_sal02.pais:
  strPais = df_sal02.pais.iloc[intCont]
  intCont += 1
  if strPais not in df_pai_eng.name.values:
    print(strPais)
    ntContNE += 1
print('Total:', ntContNE)

'''
  Ahora ya tenemos todos los paises contenidos menos Niue e Islas Cook.
  Por lo tanto podemos limpiar de paises que no interesen en df_sal02, 
  para ello primero haremos un inner join. 
'''

df_sal02 = pd.merge(df_pai_eng, df_sal02, how='inner', left_on='name',                  # Eliminaci√≥n de las filas innecesarias en el df original
                    right_on='pais')

df_sal02.drop(['id', 'alpha2', 'name', 'pais'], axis=1, inplace=True)                   # Eliminaci√≥n de las columnas no necesarias

df_sal02.set_axis(['codigo_pais', 'indicador', '2021'], axis=1, inplace=True)           # Renombrado de columnas para estandarizar nombres 

''' 
  Como ya hemos dicho el indicador que interesa es el
  del Gasto corriente en salud, eliminamos el resto de
  las filas.
'''

df_sal02a=df_sal02.loc[df_sal02['indicador'] == 'Current Health Expenditure (CHE) as % Gross Domestic Product (GDP)']
df_sal02b=df_sal02.loc[df_sal02['indicador'] == 'Current Health Expenditure (CHE) per Capita in US$']

print('--- Indicadores a traducir df_sala ---')
print(df_sal02a.groupby(["indicador"])["indicador"].count())                             # Comprobaci√≥n de indicadores (antes de limpiar)

print('--- Indicadores a traducir df_salb ---')
print(df_sal02b.groupby(["indicador"])["indicador"].count())                             # Comprobaci√≥n de indicadores (antes de limpiar)

'''
  Ahora tenemos 185 paises de los 193 que consideramos 
  con 2 indicadores v√°lidos para el an√°lisis posterior
'''
df_sal02a.set_axis(['codigo_pais', 'indicador',                                         # Renombrado de columnas para estandarizar nombres 
                      'gasto_corriente_salud_%_pib'], 
                   axis=1, inplace=True) 

df_sal02a.drop(['indicador'], axis=1, inplace=True)                                     # Eliminaci√≥n de las columnas no necesarias

df_sal02b.set_axis(['codigo_pais', 'indicador',                                         # Renombrado de columnas para estandarizar nombres 
                      'gasto_corriente_salud_pc'], 
                   axis=1, inplace=True) 

df_sal02b.drop(['indicador'], axis=1, inplace=True)                                     # Eliminaci√≥n de las columnas no necesarias

df_sal02 = pd.merge(df_sal02a, df_sal02b, how='inner',                                  # Eliminaci√≥n de las filas innecesarias en el df original
                    left_on='codigo_pais', right_on='codigo_pais')

print('--- Comprobaci√≥n final de df_sal02 ---')
print(df_sal02.info)                                                                    # df ya tiene la calidad necesaria y est√° l√≠mpio

--- Comprobaci√≥n de df_sal01_a ---
<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
65527       Kosovo          XKX
65528       Kosovo          XKX
65529       Kosovo          XKX
65530       Kosovo          XKX
65531       Kosovo          XKX

                                          Indicator Name     Indicator Code  \
0      Unmet need for contraception (% of married wom...        SP.UWT.TFRT
1      Completeness of death registration with cause-...     SP.REG.DTHS.ZS
2                 Completeness of birth registration (%)     SP.REG.BRTH.ZS
3          Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
4          Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS
...                                                  ...                ...
65527  Unmet need for contraception (% of married wom...        SP.UWT.TFRT
65528  Completeness of death registration with cause-...     SP.REG.DTHS.ZS
65529             Completeness of birth registration (%)     SP.REG.BRTH.ZS
65530      Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
65531      Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS

       1960  1961  1962  1963  1964  1965  ...  2011  2012  2013  2014  2015  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
2       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
65527   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65528   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65529   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65530   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
65531   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

       2016  2017  2018  2019  2020
0       NaN   NaN   NaN   NaN   NaN
1       NaN   NaN   NaN   NaN   NaN
2       NaN   NaN   NaN   NaN   NaN
3       NaN   NaN   NaN   NaN   NaN
4       NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...
65527   NaN   NaN   NaN   NaN   NaN
65528   NaN   NaN   NaN   NaN   NaN
65529   NaN   NaN   NaN   NaN   NaN
65530   NaN   NaN   NaN   NaN   NaN
65531   NaN   NaN   NaN   NaN   NaN

[65532 rows x 65 columns]>
--- Comprobaci√≥n de df_sal01_b ---
<bound method DataFrame.info of      Country Name Country Code  \
0          Kosovo          XKX
1          Kosovo          XKX
2          Kosovo          XKX
3          Kosovo          XKX
4          Kosovo          XKX
...           ...          ...
1255     Zimbabwe          ZWE
1256     Zimbabwe          ZWE
1257     Zimbabwe          ZWE
1258     Zimbabwe          ZWE
1259     Zimbabwe          ZWE

                                         Indicator Name     Indicator Code  \
0          Completeness of birth registration, male (%)  SP.REG.BRTH.MA.ZS
1        Completeness of birth registration, female (%)  SP.REG.BRTH.FE.ZS
2              Population, male (% of total population)  SP.POP.TOTL.MA.ZS
3                                      Population, male  SP.POP.TOTL.MA.IN
4            Population, female (% of total population)  SP.POP.TOTL.FE.ZS
...                                                 ...                ...
1255  Women who believe a husband is justified in be...     SG.VAW.NEGL.ZS
1256  Women who believe a husband is justified in be...     SG.VAW.GOES.ZS
1257  Women who believe a husband is justified in be...     SG.VAW.BURN.ZS
1258  Women who believe a husband is justified in be...     SG.VAW.ARGU.ZS
1259  Proportion of women subjected to physical and/...     SG.VAW.1549.ZS

      1960  1961  1962  1963  1964  1965  ...  2011  2012  2013  2014  2015  \
0      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
1255   NaN   NaN   NaN   NaN   NaN   NaN  ...  21.4   NaN   NaN   NaN  21.4
1256   NaN   NaN   NaN   NaN   NaN   NaN  ...  22.3   NaN   NaN   NaN  22.8
1257   NaN   NaN   NaN   NaN   NaN   NaN  ...   7.5   NaN   NaN   NaN   8.1
1258   NaN   NaN   NaN   NaN   NaN   NaN  ...  15.6   NaN   NaN   NaN  16.7
1259   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN  19.9

      2016  2017  2018  2019  2020
0      NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...
1255   NaN   NaN   NaN   NaN   NaN
1256   NaN   NaN   NaN   NaN   NaN
1257   NaN   NaN   NaN   NaN   NaN
1258   NaN   NaN   NaN   NaN   NaN
1259   NaN   NaN   NaN   NaN   NaN

[1260 rows x 65 columns]>
--- Comprobaci√≥n de df_sal01 ---
<bound method DataFrame.info of      Country Name Country Code  \
0           Aruba          ABW
1           Aruba          ABW
2           Aruba          ABW
3           Aruba          ABW
4           Aruba          ABW
...           ...          ...
1255     Zimbabwe          ZWE
1256     Zimbabwe          ZWE
1257     Zimbabwe          ZWE
1258     Zimbabwe          ZWE
1259     Zimbabwe          ZWE

                                         Indicator Name     Indicator Code  \
0     Unmet need for contraception (% of married wom...        SP.UWT.TFRT
1     Completeness of death registration with cause-...     SP.REG.DTHS.ZS
2                Completeness of birth registration (%)     SP.REG.BRTH.ZS
3         Completeness of birth registration, urban (%)  SP.REG.BRTH.UR.ZS
4         Completeness of birth registration, rural (%)  SP.REG.BRTH.RU.ZS
...                                                 ...                ...
1255  Women who believe a husband is justified in be...     SG.VAW.NEGL.ZS
1256  Women who believe a husband is justified in be...     SG.VAW.GOES.ZS
1257  Women who believe a husband is justified in be...     SG.VAW.BURN.ZS
1258  Women who believe a husband is justified in be...     SG.VAW.ARGU.ZS
1259  Proportion of women subjected to physical and/...     SG.VAW.1549.ZS

      1960  1961  1962  1963  1964  1965  ...  2011  2012  2013  2014  2015  \
0      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
1255   NaN   NaN   NaN   NaN   NaN   NaN  ...  21.4   NaN   NaN   NaN  21.4
1256   NaN   NaN   NaN   NaN   NaN   NaN  ...  22.3   NaN   NaN   NaN  22.8
1257   NaN   NaN   NaN   NaN   NaN   NaN  ...   7.5   NaN   NaN   NaN   8.1
1258   NaN   NaN   NaN   NaN   NaN   NaN  ...  15.6   NaN   NaN   NaN  16.7
1259   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN  19.9

      2016  2017  2018  2019  2020
0      NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...
1255   NaN   NaN   NaN   NaN   NaN
1256   NaN   NaN   NaN   NaN   NaN
1257   NaN   NaN   NaN   NaN   NaN
1258   NaN   NaN   NaN   NaN   NaN
1259   NaN   NaN   NaN   NaN   NaN

[66792 rows x 65 columns]>
--- Comprobaci√≥n final de df_sal02 ---
<bound method DataFrame.info of     Countries                                         Indicators        2020  \
0     Algeria  Current Health Expenditure (CHE) as % Gross Do...    6.321180
1     Algeria  Current Health Expenditure (CHE) per Capita in...  214.851791
2      Angola  Current Health Expenditure (CHE) as % Gross Do...    2.911835
3      Angola  Current Health Expenditure (CHE) per Capita in...   50.742622
4    Botswana  Current Health Expenditure (CHE) as % Gross Do...    6.186646
..        ...                                                ...         ...
456   Vanuatu       Capital Health Expenditure (Domestic Public)    2.607348
457   Vanuatu              Capital Health Expenditure (External)    0.000000
458  Viet Nam  Current Health Expenditure (CHE) as % Gross Do...    4.680668
459  Viet Nam  Current Health Expenditure (CHE) per Capita in...  166.231842
460  Viet Nam       Capital Health Expenditure (Domestic Public)  991.495777

     2021
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
..    ...
456   NaN
457   NaN
458   NaN
459   NaN
460   NaN

[461 rows x 4 columns]>
--- Indicadores a traducir ---
indicador
Capital Health Expenditure (Domestic Private)                             9
Capital Health Expenditure (Domestic Private) in million current US$      3
Capital Health Expenditure (Domestic Public)                             38
Capital Health Expenditure (Domestic Public) in million current US$       3
Capital Health Expenditure (External)                                    30
Capital Health Expenditure (External) in million current US$              2
Capital Health Expenditure (External) in million current US$              2
Current Health Expenditure (CHE) as % Gross Domestic Product (GDP)      187
Current Health Expenditure (CHE) per Capita in US$                      187
Name: indicador, dtype: int64
--- Paises en ingl√©s con su c√≥digo iso3 ---
<bound method DataFrame.info of       id alpha2 alpha3         name         pais  \
0      4     af    afg  Afghanistan  Afghanistan
1      4     af    afg  Afghanistan  Afghanistan
2     12     dz    dza      Algeria      Algeria
3     12     dz    dza      Algeria      Algeria
4     20     ad    and      Andorra      Andorra
..   ...    ...    ...          ...          ...
426  716     zw    zwe     Zimbabwe     Zimbabwe
427  716     zw    zwe     Zimbabwe     Zimbabwe
428  716     zw    zwe     Zimbabwe     Zimbabwe
429  716     zw    zwe     Zimbabwe     Zimbabwe
430  716     zw    zwe     Zimbabwe     Zimbabwe

                                             indicador        2021
0    Current Health Expenditure (CHE) as % Gross Do...   15.533614
1    Current Health Expenditure (CHE) per Capita in...   80.288055
2    Current Health Expenditure (CHE) as % Gross Do...    6.321180
3    Current Health Expenditure (CHE) per Capita in...  214.851791
4    Current Health Expenditure (CHE) as % Gross Do...    9.051759
..                                                 ...         ...
426  Current Health Expenditure (CHE) as % Gross Do...    3.425581
427  Current Health Expenditure (CHE) per Capita in...   50.676510
428       Capital Health Expenditure (Domestic Public)    3.439360
429              Capital Health Expenditure (External)   22.545730
430      Capital Health Expenditure (Domestic Private)    1.539300

[431 rows x 7 columns]>
--- Paises contenidos ---
Algeria
Algeria
Angola
Angola
Botswana
Botswana
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burundi
Burundi
Benin
Benin
Cameroon
Cameroon
Central African Republic
Central African Republic
Chad
Chad
Comoros
Comoros
Congo
Congo
Congo
Congo
Congo
C√¥te d'Ivoire
C√¥te d'Ivoire
Equatorial Guinea
Equatorial Guinea
Eritrea
Eritrea
Eswatini
Eswatini
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Gabon
Gabon
Gambia
Gambia
Ghana
Ghana
Guinea
Guinea
Guinea-Bissau
Guinea-Bissau
Kenya
Kenya
Lesotho
Lesotho
Liberia
Liberia
Madagascar
Madagascar
Malawi
Malawi
Mali
Mali
Mauritania
Mauritania
Mauritius
Mauritius
Mozambique
Mozambique
Mozambique
Mozambique
Namibia
Namibia
Niger
Niger
Niger
Niger
Niger
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Rwanda
Rwanda
Sao Tome and Principe
Sao Tome and Principe
Senegal
Senegal
Senegal
Senegal
Senegal
Seychelles
Seychelles
Sierra Leone
Sierra Leone
South Africa
South Africa
South Sudan
South Sudan
Togo
Togo
Uganda
Uganda
Zambia
Zambia
Zimbabwe
Zimbabwe
Zimbabwe
Zimbabwe
Zimbabwe
Antigua and Barbuda
Antigua and Barbuda
Argentina
Argentina
Bahamas
Bahamas
Bahamas
Barbados
Barbados
Belize
Belize
Belize
Belize
Brazil
Brazil
Brazil
Canada
Canada
Canada
Canada
Canada
Chile
Chile
Colombia
Colombia
Costa Rica
Costa Rica
Cuba
Cuba
Cuba
Dominica
Dominica
Dominican Republic
Dominican Republic
Ecuador
Ecuador
El Salvador
El Salvador
El Salvador
El Salvador
Grenada
Grenada
Grenada
Grenada
Guatemala
Guatemala
Guyana
Guyana
Guyana
Haiti
Haiti
Honduras
Honduras
Honduras
Honduras
Jamaica
Jamaica
Jamaica
Jamaica
Mexico
Mexico
Mexico
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Panama
Panama
Panama
Panama
Paraguay
Paraguay
Peru
Peru
Peru
Peru
Saint Kitts and Nevis
Saint Kitts and Nevis
Saint Kitts and Nevis
Saint Kitts and Nevis
Saint Lucia
Saint Lucia
Saint Vincent and the Grenadines
Saint Vincent and the Grenadines
Saint Vincent and the Grenadines
Saint Vincent and the Grenadines
Suriname
Suriname
Trinidad and Tobago
Trinidad and Tobago
United States of America
United States of America
United States of America
United States of America
United States of America
Uruguay
Uruguay
Venezuela (Bolivarian Republic of)
Venezuela (Bolivarian Republic of)
Afghanistan
Afghanistan
Bahrain
Bahrain
Djibouti
Djibouti
Egypt
Egypt
Iraq
Iraq
Jordan
Jordan
Kuwait
Kuwait
Lebanon
Lebanon
Morocco
Morocco
Oman
Oman
Pakistan
Pakistan
Qatar
Qatar
Sudan
Sudan
Tunisia
Tunisia
United Arab Emirates
United Arab Emirates
Andorra
Andorra
Armenia
Armenia
Austria
Austria
Azerbaijan
Azerbaijan
Belarus
Belarus
Belgium
Belgium
Bosnia and Herzegovina
Bosnia and Herzegovina
Bulgaria
Bulgaria
Bulgaria
Croatia
Croatia
Cyprus
Cyprus
Denmark
Denmark
Estonia
Estonia
Finland
Finland
France
France
Georgia
Georgia
Germany
Germany
Greece
Greece
Hungary
Hungary
Hungary
Iceland
Iceland
Ireland
Ireland
Israel
Israel
Italy
Italy
Kazakhstan
Kazakhstan
Kyrgyzstan
Kyrgyzstan
Latvia
Latvia
Lithuania
Lithuania
Luxembourg
Luxembourg
Malta
Malta
Monaco
Monaco
Montenegro
Montenegro
Norway
Norway
Poland
Poland
Portugal
Portugal
Romania
Romania
Russian Federation
Russian Federation
San Marino
San Marino
Serbia
Serbia
Slovakia
Slovakia
Slovenia
Slovenia
Spain
Spain
Sweden
Sweden
Switzerland
Switzerland
Tajikistan
Tajikistan
Tajikistan
T√ºrkiye
T√ºrkiye
Turkmenistan
Turkmenistan
Ukraine
Ukraine
Uzbekistan
Uzbekistan
Bangladesh
Bangladesh
Bhutan
Bhutan
India
India
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Maldives
Maldives
Myanmar
Myanmar
Nepal
Nepal
Sri Lanka
Sri Lanka
Thailand
Thailand
Timor-Leste
Timor-Leste
Australia
Australia
Brunei Darussalam
Brunei Darussalam
Cambodia
Cambodia
China
China
Fiji
Fiji
Japan
Japan
Kiribati
Kiribati
Kiribati
Lao People's Democratic Republic
Lao People's Democratic Republic
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Marshall Islands
Marshall Islands
Marshall Islands
Marshall Islands
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Mongolia
Mongolia
Mongolia
Mongolia
Nauru
Nauru
Nauru
Nauru
New Zealand
New Zealand
Palau
Palau
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Philippines
Philippines
Philippines
Samoa
Samoa
Samoa
Singapore
Singapore
Solomon Islands
Solomon Islands
Solomon Islands
Solomon Islands
Tonga
Tonga
Tonga
Tonga
Tuvalu
Tuvalu
Vanuatu
Vanuatu
Vanuatu
Vanuatu
Viet Nam
Viet Nam
Viet Nam
Total: 431
--- Paises no contenidos ---
Cabo Verde Republic of
Cabo Verde Republic of
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
United Republic of Tanzania
United Republic of Tanzania
Bolivia Plurinational States of
Bolivia Plurinational States of
Iran
Iran
Czech Republic
Czech Republic
Netherlands (Kingdom of the)
Netherlands (Kingdom of the)
Republic of Moldova
Republic of Moldova
The Republic of North Macedonia
The Republic of North Macedonia
United Kingdom
United Kingdom
Cook Islands
Cook Islands
Niue
Niue
Niue
Republic of Korea
Republic of Korea
Total: 30
--- Comprobaci√≥n de que hemos encontrado las filas que no ha podido unir el join ---
      id alpha2 alpha3                          old_name  \
28   132     cv    cpv            Cabo Verde Republic of
39   180     cd    cod  Democratic Republic of the Congo
170  834     tz    tza       United Republic of Tanzania
20    68     bo    bol   Bolivia Plurinational States of
78   364     ir    irn                              Iran
45   203     cz    cze                    Czech Republic
123  528     nl    nld      Netherlands (Kingdom of the)
113  498     md    mda               Republic of Moldova
128  807     mk    mkd   The Republic of North Macedonia
183  826     gb    gbr                    United Kingdom
90   410     kr    kor                 Republic of Korea

                                                  name
28                                          Cabo Verde
39                   Congo, Democratic Republic of the
170                       Tanzania, United Republic of
20                    Bolivia (Plurinational State of)
78                          Iran (Islamic Republic of)
45                                             Czechia
123                                        Netherlands
113                               Moldova, Republic of
128                                    North Macedonia
183  United Kingdom of Great Britain and Northern I...
90                                  Korea, Republic of
--- Substituci√≥n de paises no contenidos ---
--- Paises no contenidos ---
Cook Islands
Cook Islands
Niue
Niue
Niue
Total: 5
--- Indicadores a traducir df_sala ---
indicador
Current Health Expenditure (CHE) as % Gross Domestic Product (GDP)    185
Name: indicador, dtype: int64
--- Indicadores a traducir df_salb ---
indicador
Current Health Expenditure (CHE) per Capita in US$    185
Name: indicador, dtype: int64
--- Comprobaci√≥n final de df_sal02 ---
<bound method DataFrame.info of     codigo_pais  gasto_corriente_salud_%_pib  gasto_corriente_salud_pc
0           afg                    15.533614                 80.288055
1           dza                     6.321180                214.851791
2           and                     9.051759               3336.917725
3           ago                     2.911835                 50.742622
4           atg                     5.614729                830.339539
..          ...                          ...                       ...
180         vut                     3.969954                114.229622
181         ven                     3.816062                142.458588
182         vnm                     4.680668                166.231842
183         zmb                     5.617884                 53.753658
184         zwe                     3.425581                 50.676510

[185 rows x 3 columns]>

<ipython-input-120-d2a280268e99>:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sal02.pais.iloc[intCont]=nuevo_valor
<ipython-input-120-d2a280268e99>:213: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sal02a.drop(['indicador'], axis=1, inplace=True)                                     # Eliminaci√≥n de las columnas no necesarias
<ipython-input-120-d2a280268e99>:219: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sal02b.drop(['indicador'], axis=1, inplace=True)                                     # Eliminaci√≥n de las columnas no necesarias

## Deuda externa (extracci√≥n y transformaci√≥n)

In [121]:
# EXTRACCI√ìN DE DATOS

df_deu01 = pd.read_excel('/content/PopulationDataWorldBank.xlsx','External Debt')       # Deuda externa
print('--- Comprobaci√≥n de df_deu01 ---')                                               # df no tiene la calidad necesaria
print(df_deu01.info) 
df_deu02 = pd.read_excel('/content/WEO_Data.xlsx','WEO_Data')                           # Lectura del dataset con la calidad requerida                          
print('--- Comprobaci√≥n final de df_deu02 ---')
print(df_deu02.info)                                                                    # df ya tiene la calidad necesaria

# TRANSFORMACI√ìN DE DATOS

df_deu02.drop(['Scale', 'Country/Series-specific Notes', 'Estimates Start After'],      # Eliminaci√≥n de las columnas no necesarias
            axis=1, inplace = True)

df_deu02.set_axis(['codigo_pais', 'pais', 'indicador', 'unidades',                      # Renombrado de columnas para estandarizar nombres 
                   'deuda_publica_%_pib'],             
                axis=1, inplace = True)

df_deu02['codigo_pais'] = df_deu02['codigo_pais'].str.lower()                           # Estandarizaci√≥n del c√≥digo de poblaci√≥n (iso3) a min√∫sculas


df_deu02.drop(['pais', 'indicador', 'unidades'],                                        # Eliminaci√≥n de las columnas no necesarias
            axis=1, inplace = True)

df_deu02 = pd.merge(df_pai01, df_deu02, how='inner',                                    # Eliminaci√≥n de las filas innecesarias
                    left_on='codigo_pais', right_on='codigo_pais')

print('--- Comprobaci√≥n final de df_deu02 ---')
print(df_deu02.info)                                                                    # df ya tiene la calidad necesaria y est√° l√≠mpio

--- Comprobaci√≥n de df_deu01 ---
<bound method DataFrame.info of       Country Name Country Code  \
0            Aruba          ABW
1            Aruba          ABW
2            Aruba          ABW
3            Aruba          ABW
4            Aruba          ABW
...            ...          ...
16099     Zimbabwe          ZWE
16100     Zimbabwe          ZWE
16101     Zimbabwe          ZWE
16102     Zimbabwe          ZWE
16103     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0                                      GNI (current US$)     NY.GNP.MKTP.CD
1                    Total reserves in months of imports     FI.RES.TOTL.MO
2              Total reserves (% of total external debt)  FI.RES.TOTL.DT.ZS
3            Total reserves (includes gold, current US$)     FI.RES.TOTL.CD
4      Multilateral debt service (% of public and pub...  DT.TDS.MLAT.PG.ZS
...                                                  ...                ...
16099  Exports of goods, services and primary income ...     BX.GSR.TOTL.CD
16100    Technical cooperation grants (BoP, current US$)  BX.GRT.TECH.CD.WD
16101  Grants, excluding technical cooperation (BoP, ...  BX.GRT.EXTA.CD.WD
16102         Current account balance (BoP, current US$)     BN.CAB.XOKA.CD
16103  Imports of goods, services and primary income ...     BM.GSR.TOTL.CD

       1960     1961  1962     1963       1964       1965  ...          2011  \
0       NaN      NaN   NaN      NaN        NaN        NaN  ...  2.302793e+09
1       NaN      NaN   NaN      NaN        NaN        NaN  ...  1.174720e+00
2       NaN      NaN   NaN      NaN        NaN        NaN  ...           NaN
3       NaN      NaN   NaN      NaN        NaN        NaN  ...  6.897760e+08
4       NaN      NaN   NaN      NaN        NaN        NaN  ...           NaN
...     ...      ...   ...      ...        ...        ...  ...           ...
16099   NaN      NaN   NaN      NaN        NaN        NaN  ...  5.095932e+09
16100   NaN      NaN   NaN      NaN   140000.0   150000.0  ...  8.697000e+07
16101   NaN  10000.0   NaN  70000.0  6560000.0  6030000.0  ...  6.374800e+08
16102   NaN      NaN   NaN      NaN        NaN        NaN  ... -2.431844e+09
16103   NaN      NaN   NaN      NaN        NaN        NaN  ...  9.528082e+09

               2012          2013          2014          2015          2016  \
0      2.418547e+09  2.537095e+09  2.662514e+09  2.794804e+09  2.830726e+09
1      3.053451e+00  3.171215e+00  3.387887e+00  4.244713e+00  5.036316e+00
2               NaN           NaN           NaN           NaN           NaN
3      7.686223e+08  6.531707e+08  6.803510e+08  8.158006e+08  9.225509e+08
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
16099  4.647509e+09  4.390842e+09  4.246621e+09  4.174925e+09  4.279921e+09
16100  9.285000e+07  6.821000e+07  5.262000e+07  4.036000e+07  5.980000e+07
16101  9.195500e+08  7.772000e+08  7.074700e+08  7.746000e+08  6.933500e+08
16102 -1.835949e+09 -2.525719e+09 -2.405182e+09 -1.678451e+09 -7.179652e+08
16103  8.683356e+09  8.895458e+09  8.531318e+09  7.873438e+09  6.825338e+09

               2017          2018          2019  2020
0      2.885754e+09           NaN           NaN   NaN
1      4.801479e+00  4.618731e+00  4.715359e+00   NaN
2               NaN           NaN           NaN   NaN
3      9.071115e+08  9.802477e+08  9.823000e+08   NaN
4               NaN           NaN           NaN   NaN
...             ...           ...           ...   ...
16099  4.945834e+09           NaN           NaN   NaN
16100  5.249000e+07  5.442000e+07  6.704000e+07   NaN
16101  6.758300e+08  7.390300e+08  9.239100e+08   NaN
16102 -3.078109e+08           NaN           NaN   NaN
16103  6.950997e+09           NaN           NaN   NaN

[16104 rows x 65 columns]>
--- Comprobaci√≥n final de df_deu02 ---
<bound method DataFrame.info of      ISO             Country           Subject Descriptor           Units  \
0    AFG         Afghanistan  General government net debt  Percent of GDP
1    ALB             Albania  General government net debt  Percent of GDP
2    DZA             Algeria  General government net debt  Percent of GDP
3    AND             Andorra  General government net debt  Percent of GDP
4    AGO              Angola  General government net debt  Percent of GDP
..   ...                 ...                          ...             ...
191  VNM             Vietnam  General government net debt  Percent of GDP
192  WBG  West Bank and Gaza  General government net debt  Percent of GDP
193  YEM               Yemen  General government net debt  Percent of GDP
194  ZMB              Zambia  General government net debt  Percent of GDP
195  ZWE            Zimbabwe  General government net debt  Percent of GDP

     Scale                      Country/Series-specific Notes      2021  \
0      NaN                                                NaN       NaN
1      NaN  See notes for:  General government net debt (N...   64113.0
2      NaN  See notes for:  General government net debt (N...   51868.0
3      NaN                                                NaN       NaN
4      NaN                                                NaN       NaN
..     ...                                                ...       ...
191    NaN                                                NaN       NaN
192    NaN                                                NaN       NaN
193    NaN  See notes for:  General government net debt (N...   69313.0
194    NaN  See notes for:  General government net debt (N...  117491.0
195    NaN                                                NaN       NaN

     Estimates Start After
0                      NaN
1                   2020.0
2                   2021.0
3                      NaN
4                      NaN
..                     ...
191                    NaN
192                    NaN
193                 2020.0
194                 2021.0
195                    NaN

[196 rows x 8 columns]>
--- Comprobaci√≥n final de df_deu02 ---
<bound method DataFrame.info of     codigo_pais        pais                           region  \
0           afg  Afganist√°n                     Asia del Sur
1           alb     Albania            Europa y Asia Central
2           deu    Alemania            Europa y Asia Central
3           and     Andorra            Europa y Asia Central
4           ago      Angola             Africa Sub-sahariana
..          ...         ...                              ...
184         vnm     Vietnam      Asia oriental y el Pac√≠fico
185         yem       Yemen  Oriente Medio y Norte de √Åfrica
186         dji      Yibuti  Oriente Medio y Norte de √Åfrica
187         zmb      Zambia             Africa Sub-sahariana
188         zwe    Zimbabue             Africa Sub-sahariana

            grupo_ingresos  deuda_publica_%_pib
0           Ingresos bajos                  NaN
1    Ingresos medios altos              64113.0
2           Ingresos altos              47002.0
3           Ingresos altos                  NaN
4    Ingresos medios bajos                  NaN
..                     ...                  ...
184  Ingresos medios bajos                  NaN
185         Ingresos bajos              69313.0
186  Ingresos medios bajos              45838.0
187  Ingresos medios bajos             117491.0
188  Ingresos medios bajos                  NaN

[189 rows x 5 columns]>

## TODOS LOS DATAFRAMES (CARGA CONJUNTA)

In [122]:
# TRANSFORMACI√ìN FINAL (PODR√çA SER LA CARGA EN UN SISTEMA BI)

'''
  En este punto, tenemos 5 dataframes, cada uno de los cuales,
  consta de un c√≥gigo √∫nico id√©ntico de pa√≠s (iso3) y al menos 
  una columna de indicadores. Es inmediato hacer un merge, para 
  cargar los diferentes df en uno solo y poder analizar 
  los datos que ahora ya es informaci√≥n.
  Analizamos las colunmas de los df.
'''

print('--- Columnas del df de paises ---')
for column in df_pai01:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n del df de paises ---')                                          # df l√≠mpio y con la calidad necesaria
print(df_pai01.info)   

print('--- Comprobaci√≥n de NaN en paises ---')
print(df_pai01.isna().sum())                                                            # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en paises ---')
print(df_pai01.isnull().sum())                                                          # Comprobaci√≥n de nulos en el df
                                                                  
print('--- Columnas del df de poblaciones ---')
for column in df_pob02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n del df de poblaciones ---')                                     # df l√≠mpio y con la calidad necesaria
print(df_pob02.info)                                                                    

print('--- Comprobaci√≥n de NaN en poblaciones ---')
print(df_pob02.isna().sum())                                                            # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en poblaciones ---')
print(df_pob02.isnull().sum())                                                          # Comprobaci√≥n de nulos en el df

print('--- Columnas del df de educaci√≥n (y m√°s) ---')
for column in df_edu02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n del df de educaci√≥n (y m√°s) ---')                               # df l√≠mpio y con la calidad necesaria
print(df_edu02.info)      

print('--- Comprobaci√≥n de NaN en educaci√≥n (y m√°s) ---')
print(df_edu02.isna().sum())                                                            # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en educaci√≥n (y m√°s) ---')
print(df_edu02.isnull().sum())                                                          # Comprobaci√≥n de nulos en el df

print('--- Columnas del df de salud ---')
for column in df_sal02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n del df de salud ---')                                           # df l√≠mpio y con la calidad necesaria
print(df_sal02.info)   

print('--- Comprobaci√≥n de NaN en salud ---')
print(df_sal02.isna().sum())                                                            # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en salud ---')
print(df_sal02.isnull().sum())                                                          # Comprobaci√≥n de nulos en el df

print('--- Columnas del df de deuda p√∫blica ---')
for column in df_deu02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n df de deuda p√∫blica ---')                                       # df l√≠mpio y con la calidad necesaria
print(df_deu02.info)                                                                    

print('--- Comprobaci√≥n de NaN en deuda p√∫blica ---')
print(df_deu02.isna().sum())                                                            # Comprobaci√≥n de NaN en el df

print('--- Comprobaci√≥n de nulos en deuda p√∫blica ---')
print(df_deu02.isnull().sum())                                                          # Comprobaci√≥n de nulos en el df

''' 
  El df con el mayor n√∫mero de filas ser√° el de paises,
  con 1 fila por pa√≠s, los df restantes, pueden o no, tener
  indicadores (columnas) para cada pa√≠s, con lo cual, 
  tendr√°n un n√∫mero de filas igual o menor que el de paises.
  As√≠ que, esto nos indica como haremos el join de los df.
  Tambi√©n podemos acabar de decidir qu√© columnas no nos aportan
  suficiente informaci√≥n y no las incorporamos al df final.
'''

--- Columnas del df de paises ---
codigo_pais
pais
region
grupo_ingresos
--- Comprobaci√≥n del df de paises ---
<bound method DataFrame.info of     codigo_pais        pais                           region  \
0           afg  Afganist√°n                     Asia del Sur
1           alb     Albania            Europa y Asia Central
2           deu    Alemania            Europa y Asia Central
3           and     Andorra            Europa y Asia Central
4           ago      Angola             Africa Sub-sahariana
..          ...         ...                              ...
188         vnm     Vietnam      Asia oriental y el Pac√≠fico
189         yem       Yemen  Oriente Medio y Norte de √Åfrica
190         dji      Yibuti  Oriente Medio y Norte de √Åfrica
191         zmb      Zambia             Africa Sub-sahariana
192         zwe    Zimbabue             Africa Sub-sahariana

            grupo_ingresos
0           Ingresos bajos
1    Ingresos medios altos
2           Ingresos altos
3           Ingresos altos
4    Ingresos medios bajos
..                     ...
188  Ingresos medios bajos
189         Ingresos bajos
190  Ingresos medios bajos
191  Ingresos medios bajos
192  Ingresos medios bajos

[193 rows x 4 columns]>
--- Comprobaci√≥n de NaN en paises ---
codigo_pais       0
pais              0
region            0
grupo_ingresos    0
dtype: int64
--- Comprobaci√≥n de nulos en paises ---
codigo_pais       0
pais              0
region            0
grupo_ingresos    0
dtype: int64
--- Columnas del df de poblaciones ---
codigo_pais
poblacion
area
densidad_poblacion
tasa_crecimiento
--- Comprobaci√≥n del df de poblaciones ---
<bound method DataFrame.info of     codigo_pais      poblacion       area densidad_poblacion tasa_crecimiento
0           chn  1,447,065,329  9,706,961                149             0.34
1           ind  1,401,310,563  3,287,590                424             0.97
2           usa    334,058,426  9,372,610                 36             0.58
3           idn    278,037,263  1,904,569                145             1.04
4           pak    227,724,796    881,912                255             1.95
..          ...            ...        ...                ...              ...
208         lie         38,250        160                239             0.32
209         smr         34,017         61                558             0.25
211         plw         18,169        459                 40             0.41
214         tuv         11,931         26                459             1.18
216         nru         10,876         21                518             0.48

[189 rows x 5 columns]>
--- Comprobaci√≥n de NaN en poblaciones ---
codigo_pais           0
poblacion             0
area                  0
densidad_poblacion    0
tasa_crecimiento      0
dtype: int64
--- Comprobaci√≥n de nulos en poblaciones ---
codigo_pais           0
poblacion             0
area                  0
densidad_poblacion    0
tasa_crecimiento      0
dtype: int64
--- Columnas del df de educaci√≥n (y m√°s) ---
codigo_pais
espernza_vida
promedio_anos_escolaridad
ingreso_nacional_bruto_pc
espernza_vida_f
promedio_anos_escolaridad_f
ingreso_nacional_bruto_pc_f
espernza_vida_m
promedio_anos_escolaridad_m
ingreso_nacional_bruto_pc_m
tasa_mortalidad_materna
tasa_natalidad_adolescente
algo_educaci√≥n_secundaria_f
algo_educaci√≥n_secundaria_m
tasa_participacion_laboral_f
tasa_participacion_laboral_m
emisiones_co2_pc
huella_material_pc
--- Comprobaci√≥n del df de educaci√≥n (y m√°s) ---
<bound method DataFrame.info of     codigo_pais  espernza_vida  promedio_anos_escolaridad  \
0           afg        61.9824                   2.985070
1           ago        61.6434                   5.417391
2           alb        76.4626                  11.286455
3           and        80.3684                  10.555120
4           are        78.7104                  12.694030
..          ...            ...                        ...
190         wsm        72.7675                  11.403800
191         yem        63.7534                   3.200000
192         zaf        62.3410                  11.373160
193         zmb        61.2234                   7.187091
194         zwe        59.2531                   8.710909

     ingreso_nacional_bruto_pc  espernza_vida_f  promedio_anos_escolaridad_f  \
0                  1824.190915          65.2791                     2.311080
1                  5465.617791          64.3066                     4.183876
2                 14131.110390          79.1726                    11.684433
3                 51166.626610          84.3238                    10.481139
4                 62573.591810          80.9371                    12.525340
..                         ...              ...                          ...
190                5307.953374          75.5034                    11.774100
191                1314.270189          67.1339                     2.880000
192               12948.373250          64.9992                     9.657390
193                3217.767739          63.9276                     7.179212
194                3809.887158          62.0449                     8.296558

     ingreso_nacional_bruto_pc_f  espernza_vida_m  \
0                     532.955368          58.9147
1                    4751.373256          59.0291
2                   11637.215670          74.0869
3                            NaN          77.1723
4                   28921.144820          77.2164
..                           ...              ...
190                  3222.698050          70.3119
191                   176.059448          60.6287
192                  9934.611438          59.4575
193                  2614.505084          58.4872
194                  3285.933585          56.2321

     promedio_anos_escolaridad_m  ingreso_nacional_bruto_pc_m  \
0                       3.401310                  3089.270418
1                       6.894269                  6196.650485
2                      10.920695                 16629.902110
3                      10.627977                          NaN
4                      12.805080                 77317.680170
..                           ...                          ...
190                    11.028120                  7312.135531
191                     5.146000                  2428.224415
192                    12.152350                 16129.334930
193                     7.225678                  3837.046888
194                     9.190648                  4396.777680

     tasa_mortalidad_materna  tasa_natalidad_adolescente  \
0                      638.0                      82.565
1                      241.0                     138.402
2                       15.0                      14.517
3                        NaN                       5.887
4                        3.0                       3.085
..                       ...                         ...
190                     43.0                      43.589
191                    164.0                      54.404
192                    119.0                      61.206
193                    213.0                     117.017
194                    458.0                      94.312

     algo_educaci√≥n_secundaria_f  algo_educaci√≥n_secundaria_m  \
0                       6.395730                    14.865710
1                      28.163900                    51.546170
2                      95.387505                    93.038415
3                      70.665854                    72.422097
4                      81.997002                    85.596741
..                           ...                          ...
190                    79.127486                    71.582922
191                    22.440000                    37.520000
192                    68.897713                    87.666222
193                    47.104201                    56.811897
194                    61.768211                    72.444503

     tasa_participacion_laboral_f  tasa_participacion_laboral_m  \
0                          14.848                        66.515
1                          73.968                        79.071
2                          50.733                        66.154
3                             NaN                           NaN
4                          46.542                        88.003
..                            ...                           ...
190                        30.700                        54.237
191                         5.995                        67.637
192                        46.212                        59.883
193                        69.230                        77.847
194                        79.308                        88.933

     emisiones_co2_pc  huella_material_pc
0            0.312376                1.38
1            0.675410                2.18
2            1.575754               12.96
3            6.034945                 NaN
4           15.193336               68.95
..                ...                 ...
190          1.238975                 NaN
191          0.327510                2.89
192          7.620420                7.55
193          0.357535                2.38
194          0.708562                1.21

[193 rows x 18 columns]>
--- Comprobaci√≥n de NaN en educaci√≥n (y m√°s) ---
codigo_pais                      0
espernza_vida                    0
promedio_anos_escolaridad        4
ingreso_nacional_bruto_pc        2
espernza_vida_f                  0
promedio_anos_escolaridad_f     16
ingreso_nacional_bruto_pc_f     16
espernza_vida_m                  0
promedio_anos_escolaridad_m     16
ingreso_nacional_bruto_pc_m     16
tasa_mortalidad_materna         10
tasa_natalidad_adolescente       0
algo_educaci√≥n_secundaria_f     18
algo_educaci√≥n_secundaria_m     18
tasa_participacion_laboral_f    15
tasa_participacion_laboral_m    15
emisiones_co2_pc                 2
huella_material_pc              36
dtype: int64
--- Comprobaci√≥n de nulos en educaci√≥n (y m√°s) ---
codigo_pais                      0
espernza_vida                    0
promedio_anos_escolaridad        4
ingreso_nacional_bruto_pc        2
espernza_vida_f                  0
promedio_anos_escolaridad_f     16
ingreso_nacional_bruto_pc_f     16
espernza_vida_m                  0
promedio_anos_escolaridad_m     16
ingreso_nacional_bruto_pc_m     16
tasa_mortalidad_materna         10
tasa_natalidad_adolescente       0
algo_educaci√≥n_secundaria_f     18
algo_educaci√≥n_secundaria_m     18
tasa_participacion_laboral_f    15
tasa_participacion_laboral_m    15
emisiones_co2_pc                 2
huella_material_pc              36
dtype: int64
--- Columnas del df de salud ---
codigo_pais
gasto_corriente_salud_%_pib
gasto_corriente_salud_pc
--- Comprobaci√≥n del df de salud ---
<bound method DataFrame.info of     codigo_pais  gasto_corriente_salud_%_pib  gasto_corriente_salud_pc
0           afg                    15.533614                 80.288055
1           dza                     6.321180                214.851791
2           and                     9.051759               3336.917725
3           ago                     2.911835                 50.742622
4           atg                     5.614729                830.339539
..          ...                          ...                       ...
180         vut                     3.969954                114.229622
181         ven                     3.816062                142.458588
182         vnm                     4.680668                166.231842
183         zmb                     5.617884                 53.753658
184         zwe                     3.425581                 50.676510

[185 rows x 3 columns]>
--- Comprobaci√≥n de NaN en salud ---
codigo_pais                    0
gasto_corriente_salud_%_pib    0
gasto_corriente_salud_pc       0
dtype: int64
--- Comprobaci√≥n de nulos en salud ---
codigo_pais                    0
gasto_corriente_salud_%_pib    0
gasto_corriente_salud_pc       0
dtype: int64
--- Columnas del df de deuda p√∫blica ---
codigo_pais
pais
region
grupo_ingresos
deuda_publica_%_pib
--- Comprobaci√≥n df de deuda p√∫blica ---
<bound method DataFrame.info of     codigo_pais        pais                           region  \
0           afg  Afganist√°n                     Asia del Sur
1           alb     Albania            Europa y Asia Central
2           deu    Alemania            Europa y Asia Central
3           and     Andorra            Europa y Asia Central
4           ago      Angola             Africa Sub-sahariana
..          ...         ...                              ...
184         vnm     Vietnam      Asia oriental y el Pac√≠fico
185         yem       Yemen  Oriente Medio y Norte de √Åfrica
186         dji      Yibuti  Oriente Medio y Norte de √Åfrica
187         zmb      Zambia             Africa Sub-sahariana
188         zwe    Zimbabue             Africa Sub-sahariana

            grupo_ingresos  deuda_publica_%_pib
0           Ingresos bajos                  NaN
1    Ingresos medios altos              64113.0
2           Ingresos altos              47002.0
3           Ingresos altos                  NaN
4    Ingresos medios bajos                  NaN
..                     ...                  ...
184  Ingresos medios bajos                  NaN
185         Ingresos bajos              69313.0
186  Ingresos medios bajos              45838.0
187  Ingresos medios bajos             117491.0
188  Ingresos medios bajos                  NaN

[189 rows x 5 columns]>
--- Comprobaci√≥n de NaN en deuda p√∫blica ---
codigo_pais              0
pais                     0
region                   0
grupo_ingresos           0
deuda_publica_%_pib    102
dtype: int64
--- Comprobaci√≥n de nulos en deuda p√∫blica ---
codigo_pais              0
pais                     0
region                   0
grupo_ingresos           0
deuda_publica_%_pib    102
dtype: int64

' \n  El df con el mayor n√∫mero de filas ser√° el de paises,\n  con 1 fila por pa√≠s, los df restantes, pueden o no, tener\n  indicadores (columnas) para cada pa√≠s, con lo cual, \n  tendr√°n un n√∫mero de filas igual o menor que el de paises.\n  As√≠ que, esto nos indica como haremos el join de los df.\n  Tambi√©n podemos acabar de decidir qu√© columnas no nos aportan\n  suficiente informaci√≥n y no las incorporamos al df final.\n'

***An√°lisis columnas***

| DataFrame     | Columna                                    | n¬∫ filas   | % no(NaN o null)  | cargable |
| :------------ |:------------------------------------------ | ---------: | ----------------: | :------: |
| df_pai01      | codigo_pais                                | 193        | %(193/193)=100,00 | s√≠       |
|               | pais                                       | 193        | %(193/193)=100,00 | s√≠       |
|               | region                                     | 193        | %(193/193)=100,00 | s√≠       |
|               | grupo_ingresos                             | 193        | %(193/193)=100,00 | s√≠       |
| df_pob02      | codigo_pais                                | 193        | %(193/193)=100,00 | s√≠       |
|               | poblacion                                  | 193        | %(193/193)=100,00 | s√≠       |
|               | area                                       | 193        | %(193/193)=100,00 | s√≠       |
|               | densidad_poblacion                         | 193        | %(193/193)=100,00 | s√≠       |
|               | tasa_crecimiento                           | 193        | %(193/193)=100,00 | s√≠       |
| df_edu02      | codigo_pais                                | 189-0 =189 | %(189/193)=97,93% | s√≠       |
|               | promedio_anos_escolaridad                  | 189-4 =185 | %(185/193)=95,85% | s√≠       |
|               |espernza_vida                               | 189-0 =189 | %(189/193)=97,93% | s√≠       |
|               | ingreso_nacional_bruto_pc                  | 189-2 =187 | %(187/193)=96,89% | s√≠       |
|               | espernza_vida_f                            | 189-0 =189 | %(189/193)=97,93% | s√≠       |
|               | promedio_anos_escolaridad_f                | 189-16=173 | %(173/193)=89,64% | s√≠       |
|               | ingreso_nacional_bruto_pc_f                | 189-16=173 | %(173/193)=89,64% | s√≠       |
|               | espernza_vida_m                            | 189-0 =189 | %(189/193)=97,93% | s√≠       |
|               | promedio_anos_escolaridad_m                | 189-16=173 | %(173/193)=89,64% | s√≠       |
|               | ingreso_nacional_bruto_pc_m                | 189-16=173 | %(173/193)=89,64% | s√≠       |
|               | tasa_mortalidad_materna                    | 189-10=179 | %(179/193)=89,64% | s√≠       |
|               | tasa_natalidad_adolescente                 | 189-0 =189 | %(189/193)=97,93% | s√≠       |
|               | algo_educaci√≥n_secundaria_f                | 189-18=171 | %(171/193)=88,60% | s√≠       |
|               | algo_educaci√≥n_secundaria_m                | 189-18=171 | %(171/193)=88,60% | s√≠       |
|               | tasa_participacion_laboral_f               | 189-15=174 | %(174/193)=90,16% | s√≠       |
|               | tasa_participacion_laboral_m               | 189-15=174 | %(174/193)=90,16% | s√≠       |
|               | emisiones_co2_pc                           | 189-2 =187 | %(187/193)=96,89% | s√≠       |
|               | huella_material_pc                         | 189-36=153 | %(153/193)=79,27% | no       |
| df_sal02      | codigo_pais                                | 185-0 =185 | %(185/193)=95,85% | s√≠       |
|               | gasto_corriente_salud_%_pib                | 185-0 =185 | %(185/193)=95,85% | s√≠       |
|               | gasto_corriente_salud_pc                   | 185-0 =185 | %(185/193)=95,85% | s√≠       |
| df_deu02      | codigo_pais                                | 193-102=91 | %(91/193) =47,15% | NO       |
|               | deuda_publica_%_pib                        | 193-102=91 | %(91/193) =47,15% | NO       |

Arbitrariamente, establecemos el % de corte para considerar un dato, como del 80% de los 193 paises, con los que trabajamos. Es decir, si de un indicador o valor, tenemos que afecta a < 80% de los 193 registros, entonces despreciamos el dato.

Si estuvi√©semos implementando un sistema BI, deber√≠amos volver al principio del proceso ETL, porque rechazar√≠amos el dato.

No tiene sentido en el presente proyectos, ***que no es m√°s que un ejercicio***.

***Datos despreciados***:  
* *deuda_publica_%_pib*  
* *huella_material_pc*

***Consideramos un** %(26/29)=***89,66% de los datos*** que hemos hecho llegar hasta la carga.

In [123]:
df_edu02.drop(['huella_material_pc'], axis=1, inplace=True)                             # Eliminaci√≥n de las columnas no necesarias

'''
  Hacemos un left join con el df de paises,
  con lo cual tendremos los indicadores 
  (1 o ninguno), para todos y cada uno 
  de los 193 paises, que hemos considerado, 
  desde el principio.
'''

df_res01a = pd.merge(df_pai01, df_pob02, how='left',                                    # Left join con paises
                    left_on='codigo_pais', right_on='codigo_pais')
df_res01b = pd.merge(df_pai01, df_edu02, how='left',                                    # Left join con paises
                    left_on='codigo_pais', right_on='codigo_pais')
df_res01c = pd.merge(df_pai01, df_sal02, how='left',                                    # Left join con paises
                    left_on='codigo_pais', right_on='codigo_pais')

df_res02 = (df_res01a.merge(df_res01b, on='codigo_pais', how='inner')                   # Inner join de los 3 df de resultados
             .merge(df_res01c, on='codigo_pais', how='inner'))

print('--- Columnas del df resultado ---')
for column in df_res02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

print('--- Comprobaci√≥n del df resultado ---')                                          # df l√≠mpio y con la calidad necesaria
print(df_res02.info)   

df_res02.drop(['pais_x', 'region_x', 'grupo_ingresos_x',                                # Eliminaci√≥n de las columnas no necesarias
               'pais_y', 'region_y', 'grupo_ingresos_y'],      
            axis=1, inplace = True)

print('--- Columnas del df resultado ---')
for column in df_res02:                                                                 # Comprobaci√≥n de columnas del df
  print(column)

'''
  Hemos obtenido, como dese√°bamos 193 filas y 32 columnas, de calidad deseada.
  Ahora, vamos a analizar los resultados.
'''

--- Columnas del df resultado ---
codigo_pais
pais_x
region_x
grupo_ingresos_x
poblacion
area
densidad_poblacion
tasa_crecimiento
pais_y
region_y
grupo_ingresos_y
espernza_vida
promedio_anos_escolaridad
ingreso_nacional_bruto_pc
espernza_vida_f
promedio_anos_escolaridad_f
ingreso_nacional_bruto_pc_f
espernza_vida_m
promedio_anos_escolaridad_m
ingreso_nacional_bruto_pc_m
tasa_mortalidad_materna
tasa_natalidad_adolescente
algo_educaci√≥n_secundaria_f
algo_educaci√≥n_secundaria_m
tasa_participacion_laboral_f
tasa_participacion_laboral_m
emisiones_co2_pc
pais
region
grupo_ingresos
gasto_corriente_salud_%_pib
gasto_corriente_salud_pc
--- Comprobaci√≥n del df resultado ---
<bound method DataFrame.info of     codigo_pais      pais_x                         region_x  \
0           afg  Afganist√°n                     Asia del Sur
1           alb     Albania            Europa y Asia Central
2           deu    Alemania            Europa y Asia Central
3           and     Andorra            Europa y Asia Central
4           ago      Angola             Africa Sub-sahariana
..          ...         ...                              ...
188         vnm     Vietnam      Asia oriental y el Pac√≠fico
189         yem       Yemen  Oriente Medio y Norte de √Åfrica
190         dji      Yibuti  Oriente Medio y Norte de √Åfrica
191         zmb      Zambia             Africa Sub-sahariana
192         zwe    Zimbabue             Africa Sub-sahariana

          grupo_ingresos_x   poblacion       area densidad_poblacion  \
0           Ingresos bajos  40,374,668    652,230                 61
1    Ingresos medios altos   2,869,700     28,748                100
2           Ingresos altos  83,975,691    357,114                235
3           Ingresos altos      77,355        468                165
4    Ingresos medios bajos  34,566,172  1,246,700                 27
..                     ...         ...        ...                ...
188  Ingresos medios bajos  98,655,916    331,212                296
189         Ingresos bajos  30,882,462    527,968                 58
190  Ingresos medios bajos   1,010,377     23,200                 43
191  Ingresos medios bajos  19,238,117    752,612                 25
192  Ingresos medios bajos  15,229,891    390,757                 39

    tasa_crecimiento      pais_y                         region_y  ...  \
0               2.33  Afganist√°n                     Asia del Sur  ...
1              -0.17     Albania            Europa y Asia Central  ...
2               0.14    Alemania            Europa y Asia Central  ...
3               0.12     Andorra            Europa y Asia Central  ...
4               3.25      Angola             Africa Sub-sahariana  ...
..               ...         ...                              ...  ...
188             0.85     Vietnam      Asia oriental y el Pac√≠fico  ...
189             2.23       Yemen  Oriente Medio y Norte de √Åfrica  ...
190             1.44      Yibuti  Oriente Medio y Norte de √Åfrica  ...
191             2.92      Zambia             Africa Sub-sahariana  ...
192             1.54    Zimbabue             Africa Sub-sahariana  ...

    algo_educaci√≥n_secundaria_f  algo_educaci√≥n_secundaria_m  \
0                      6.395730                    14.865710
1                     95.387505                    93.038415
2                     96.073220                    96.462144
3                     70.665854                    72.422097
4                     28.163900                    51.546170
..                          ...                          ...
188                   61.289089                    69.644989
189                   22.440000                    37.520000
190                         NaN                          NaN
191                   47.104201                    56.811897
192                   61.768211                    72.444503

     tasa_participacion_laboral_f  tasa_participacion_laboral_m  \
0                          14.848                        66.515
1                          50.733                        66.154
2                          56.843                        66.041
3                             NaN                           NaN
4                          73.968                        79.071
..                            ...                           ...
188                        69.637                        79.437
189                         5.995                        67.637
190                        17.218                        44.147
191                        69.230                        77.847
192                        79.308                        88.933

     emisiones_co2_pc        pais                           region  \
0            0.312376  Afganist√°n                     Asia del Sur
1            1.575754     Albania            Europa y Asia Central
2            7.690142    Alemania            Europa y Asia Central
3            6.034945     Andorra            Europa y Asia Central
4            0.675410      Angola             Africa Sub-sahariana
..                ...         ...                              ...
188          2.612563     Vietnam      Asia oriental y el Pac√≠fico
189          0.327510       Yemen  Oriente Medio y Norte de √Åfrica
190          0.355729      Yibuti  Oriente Medio y Norte de √Åfrica
191          0.357535      Zambia             Africa Sub-sahariana
192          0.708562    Zimbabue             Africa Sub-sahariana

            grupo_ingresos  gasto_corriente_salud_%_pib  \
0           Ingresos bajos                    15.533614
1    Ingresos medios altos                          NaN
2           Ingresos altos                    12.822489
3           Ingresos altos                     9.051759
4    Ingresos medios bajos                     2.911835
..                     ...                          ...
188  Ingresos medios bajos                     4.680668
189         Ingresos bajos                          NaN
190  Ingresos medios bajos                     2.007863
191  Ingresos medios bajos                     5.617884
192  Ingresos medios bajos                     3.425581

     gasto_corriente_salud_pc
0                   80.288055
1                         NaN
2                 5930.332031
3                 3336.917725
4                   50.742622
..                        ...
188                166.231842
189                       NaN
190                 62.809372
191                 53.753658
192                 50.676510

[193 rows x 32 columns]>
--- Columnas del df resultado ---
codigo_pais
poblacion
area
densidad_poblacion
tasa_crecimiento
espernza_vida
promedio_anos_escolaridad
ingreso_nacional_bruto_pc
espernza_vida_f
promedio_anos_escolaridad_f
ingreso_nacional_bruto_pc_f
espernza_vida_m
promedio_anos_escolaridad_m
ingreso_nacional_bruto_pc_m
tasa_mortalidad_materna
tasa_natalidad_adolescente
algo_educaci√≥n_secundaria_f
algo_educaci√≥n_secundaria_m
tasa_participacion_laboral_f
tasa_participacion_laboral_m
emisiones_co2_pc
pais
region
grupo_ingresos
gasto_corriente_salud_%_pib
gasto_corriente_salud_pc

'\n  Hemos obtenido, como dese√°bamos 193 filas y 32 columnas, de calidad deseada.\n  Ahora, vamos a analizar los resultados.\n'

***An√°lisis de las columnas del df resultado***

| Columna                      | √Åmbito      | 
| :--------------------------- | :---------- | 
| codigo_pais                  | geogr√°fico  |
| pais                         | geogr√°fico  |
| region                       | geogr√°fico  |
| area                         | geogr√°fico  |
| poblacion                    | demogr√°fico |
| densidad_poblacion           | demogr√°fico |
| tasa_crecimiento             | demogr√°fico |
| grupo_ingresos               | econ√≥mico   |
| ingreso_nacional_bruto_pc    | econ√≥mico   |
| ingreso_nacional_bruto_pc_f  | econ√≥mico   |
| ingreso_nacional_bruto_pc_m  | econ√≥mico   |
| tasa_participacion_laboral_f | econ√≥mico   |
| tasa_participacion_laboral_m | econ√≥mico   |
| gasto_corriente_salud_%_pib  | salud       |
| gasto_corriente_salud_pc     | salud       |
| espernza_vida                | salud       |
| espernza_vida_f              | salud       |
| espernza_vida_m              | salud       |
| tasa_mortalidad_materna      | salud       |
| tasa_natalidad_adolescente   | salud       |
| promedio_anos_escolaridad    | educaci√≥n   |
| promedio_anos_escolaridad_f  | educaci√≥n   |
| promedio_anos_escolaridad_m  | educaci√≥n   |
| algo_educaci√≥n_secundaria_f  | educaci√≥n   |
| algo_educaci√≥n_secundaria_m  | educaci√≥n   |
| emisiones_co2_pc             | ecol√≥gico   |

## AN√ÅLISIS DE LOS RESULTADOS

  Ahora tenemos el trabajo m√°s complicado de nuestro data: 
  hacer las preguntas adecuadas a nuestro sistema.  
  Solo haremos algunas.  
  NOTA FINAL: ESTO ES SOLO UN EJERCICIO (WHAT A FUCK!, lol)  

    1. ¬øCu√°l es el top-ten y el bottom-ten de la densidad de poblaci√≥n?  
    2. ¬øCu√°l es el top-ten y el bottom-ten de la tasa de crecimiento demogr√°fico?  
    3. ¬øCu√°l es el top-ten y el bottom-ten de las emisiones de CO2?  
    4. ¬øCu√°l es el top-ten y el bottom-ten del gasto en salud per c√°pita?  
    5. ¬øCu√°l es el top-ten y el bottom-ten de la esperanza de vida?  
    6. ¬øCu√°l es el top-ten y el bottom-ten del promedio de a√±os de escolaridad?  
    7. ¬øCu√°l es el top-ten y el bottom-ten del ingreso nacional bruto per c√°pita?  
    8. ¬øCu√°l es el top-ten y el bottom-ten de la tasa de mortalidad materna?  
    9. ¬øCu√°l es el top-ten y el bottom-ten de la tasa de natalidad adolescente?  
    10. ¬øCu√°l es el resultado de curzar todas las preguntas anteriores?  
    
    => Obviamente, √©ste es el nivel humano, por lo tanto m√°s subsceptible a errores, 
    interpretaciones y sesgos, pero si es data-driven, al menos argumentaremos 
    la respuesta a nuestras preguntas. Por lo tanto, la respuesta solo puede ser una y 
    nada m√°s que una:   

      ***"Klaatu barada nikto"***  
      (the safeword that Helen Benson said to the Gort robot  
      in "The day the Earth stood still", 1951)  
      
      lol ;-)

In [169]:
'''
 1. ¬øCu√°l es el top-ten y el bottom-ten de la densidad de poblaci√≥n?
'''

df_pre01a = df_res02.sort_values('densidad_poblacion', ascending=False).head(10)
df_pre01a['densidad_poblacion'] = 'top-ten'
tu_pre01af = df_pre01a.pais, df_pre01a.densidad_poblacion
df_pre01af = pd.DataFrame(tu_pre01af).transpose()

df_pre01b = df_res02.sort_values('densidad_poblacion', ascending=True).head(10)
df_pre01b['densidad_poblacion'] = 'bottom-ten'
tu_pre01bf = df_pre01b.pais, df_pre01b.densidad_poblacion
df_pre01bf = pd.DataFrame(tu_pre01bf).transpose()

df_pre01f = pd.concat([df_pre01af, df_pre01bf], sort=False)

print(df_pre01f)

               pais densidad_poblacion
107         Malasia            top-ten
161           Siria            top-ten
157          Serbia            top-ten
48         Dominica            top-ten
92            Kenia            top-ten
80             Irak            top-ten
31          Camboya            top-ten
56           Espa√±a            top-ten
174  Timor Oriental            top-ten
149           Rusia            top-ten
14        Banglad√©s         bottom-ten
111           Malta         bottom-ten
109        Maldivas         bottom-ten
1           Albania         bottom-ten
9           Armenia         bottom-ten
44       Costa Rica         bottom-ten
55        Eslovenia         bottom-ten
46             Cuba         bottom-ten
77          Hungr√≠a         bottom-ten
50           Egipto         bottom-ten

In [140]:
'''
 2. ¬øCu√°l es el top-ten y el bottom-ten de la tasa de crecimiento demogr√°fico?
'''

df_pre02a = df_res02.sort_values('tasa_crecimiento', ascending=False).head(10)
df_pre02a['tasa_crecimiento'] = 'top-ten'
tu_pre02af = df_pre02a.pais, df_pre02a.tasa_crecimiento
df_pre02af = pd.DataFrame(tu_pre02af).transpose()

df_pre02b = df_res02.sort_values('tasa_crecimiento', ascending=True).head(10)
df_pre02b['tasa_crecimiento'] = 'bottom-ten'
tu_pre02bf = df_pre02b.pais, df_pre02b.tasa_crecimiento
df_pre02bf = pd.DataFrame(tu_pre02bf).transpose()

df_pre02f = pd.concat([df_pre02af, df_pre02bf], sort=False)

print(df_pre02f)

                    pais tasa_crecimiento
161                Siria          top-ten
127                N√≠ger          top-ten
73     Guinea Ecuatorial          top-ten
4                 Angola          top-ten
28               Burundi          top-ten
183               Uganda          top-ten
110                 Mal√≠          top-ten
35                  Chad          top-ten
172             Tanzania          top-ten
162              Somalia          top-ten
120           Montenegro       bottom-ten
55             Eslovenia       bottom-ten
56                Espa√±a       bottom-ten
149                Rusia       bottom-ten
105  Macedonia del Norte       bottom-ten
20           Bielorrusia       bottom-ten
46                  Cuba       bottom-ten
58               Estonia       bottom-ten
139              Polonia       bottom-ten
87                Italia       bottom-ten

In [141]:
'''
  3. ¬øCu√°l es el top-ten y el bottom-ten de las emisiones de CO2 per c√°pita?  
'''

df_pre03a = df_res02.sort_values('emisiones_co2_pc', ascending=False).head(10)
df_pre03a['emisiones_co2_pc'] = 'top-ten'
tu_pre03af = df_pre03a.pais, df_pre03a.emisiones_co2_pc
df_pre03af = pd.DataFrame(tu_pre03af).transpose()

df_pre03b = df_res02.sort_values('emisiones_co2_pc', ascending=True).head(10)
df_pre03b['emisiones_co2_pc'] = 'bottom-ten'
tu_pre03bf = df_pre03b.pais, df_pre03b.emisiones_co2_pc
df_pre03bf = pd.DataFrame(tu_pre03bf).transpose()

df_pre03f = pd.concat([df_pre03af, df_pre03bf], sort=False)

print(df_pre03f)

                                pais emisiones_co2_pc
34                             Catar          top-ten
119                         Mongolia          top-ten
177                Trinidad y Tobago          top-ten
25                            Brun√©i          top-ten
95                            Kuwait          top-ten
16                            Bar√©in          top-ten
6                     Arabia Saudita          top-ten
91                        Kazajist√°n          top-ten
10                         Australia          top-ten
52            Emiratos √Årabes Unidos          top-ten
145  Rep√∫blica Democr√°tica del Congo       bottom-ten
162                          Somalia       bottom-ten
142         Rep√∫blica Centroafricana       bottom-ten
28                           Burundi       bottom-ten
35                              Chad       bottom-ten
127                            N√≠ger       bottom-ten
108                           Malaui       bottom-ten
147                           Ruanda       bottom-ten
167                    Sud√°n del Sur       bottom-ten
183                           Uganda       bottom-ten

In [142]:
'''
  4. ¬øCu√°l es el top-ten y el bottom-ten del gasto en salud per c√°pita?  
'''

df_pre04a = df_res02.sort_values('gasto_corriente_salud_pc', ascending=False).head(10)
df_pre04a['gasto_corriente_salud_pc'] = 'top-ten'
tu_pre04af = df_pre04a.pais, df_pre04a.gasto_corriente_salud_pc
df_pre04af = pd.DataFrame(tu_pre04af).transpose()

df_pre04b = df_res02.sort_values('gasto_corriente_salud_pc', ascending=True).head(10)
df_pre04b['gasto_corriente_salud_pc'] = 'bottom-ten'
tu_pre04bf = df_pre04b.pais, df_pre04b.gasto_corriente_salud_pc
df_pre04bf = pd.DataFrame(tu_pre04bf).transpose()

df_pre04f = pd.concat([df_pre04af, df_pre04bf], sort=False)

print(df_pre04f)

                                pais gasto_corriente_salud_pc
57                    Estados Unidos                  top-ten
169                            Suiza                  top-ten
129                          Noruega                  top-ten
104                       Luxemburgo                  top-ten
47                         Dinamarca                  top-ten
82                           Irlanda                  top-ten
168                           Suecia                  top-ten
2                           Alemania                  top-ten
10                         Australia                  top-ten
132                     Pa√≠ses Bajos                  top-ten
28                           Burundi               bottom-ten
106                       Madagascar               bottom-ten
65                            Gambia               bottom-ten
145  Rep√∫blica Democr√°tica del Congo               bottom-ten
166                            Sud√°n               bottom-ten
53                           Eritrea               bottom-ten
59                           Etiop√≠a               bottom-ten
19                             Ben√≠n               bottom-ten
108                           Malaui               bottom-ten
167                    Sud√°n del Sur               bottom-ten

In [143]:
'''
  5. ¬øCu√°l es el top-ten y el bottom-ten de la esperanza de vida?    
'''

df_pre05a = df_res02.sort_values('espernza_vida', ascending=False).head(10)
df_pre05a['espernza_vida'] = 'top-ten'
tu_pre05af = df_pre05a.pais, df_pre05a.espernza_vida
df_pre05af = pd.DataFrame(tu_pre05af).transpose()

df_pre05b = df_res02.sort_values('espernza_vida', ascending=True).head(10)
df_pre05b['espernza_vida'] = 'bottom-ten'
tu_pre05bf = df_pre05b.pais, df_pre05b.espernza_vida
df_pre05bf = pd.DataFrame(tu_pre05bf).transpose()

df_pre05f = pd.concat([df_pre05af, df_pre05bf], sort=False)

print(df_pre05f)

                         pais espernza_vida
118                    M√≥naco       top-ten
89                      Jap√≥n       top-ten
10                  Australia       top-ten
169                     Suiza       top-ten
111                     Malta       top-ten
42              Corea del Sur       top-ten
102             Liechtenstein       top-ten
129                   Noruega       top-ten
56                     Espa√±a       top-ten
168                    Suecia       top-ten
35                       Chad    bottom-ten
128                   Nigeria    bottom-ten
97                     Lesoto    bottom-ten
142  Rep√∫blica Centroafricana    bottom-ten
167             Sud√°n del Sur    bottom-ten
162                   Somalia    bottom-ten
164               Suazilandia    bottom-ten
43            Costa de Marfil    bottom-ten
71                     Guinea    bottom-ten
110                      Mal√≠    bottom-ten

In [145]:
'''
  6. ¬øCu√°l es el top-ten y el bottom-ten del promedio de a√±os de escolaridad?    
'''

df_pre06a = df_res02.sort_values('promedio_anos_escolaridad', ascending=False).head(10)
df_pre06a['promedio_anos_escolaridad'] = 'top-ten'
tu_pre06af = df_pre06a.pais, df_pre06a.promedio_anos_escolaridad
df_pre06af = pd.DataFrame(tu_pre06af).transpose()

df_pre06b = df_res02.sort_values('promedio_anos_escolaridad', ascending=True).head(10)
df_pre06b['promedio_anos_escolaridad'] = 'bottom-ten'
tu_pre06bf = df_pre06b.pais, df_pre06b.promedio_anos_escolaridad

df_pre06bf = pd.DataFrame(tu_pre06bf).transpose()

df_pre06f = pd.concat([df_pre06af, df_pre06bf], sort=False)

print(df_pre06f)

               pais promedio_anos_escolaridad
2          Alemania                   top-ten
169           Suiza                   top-ten
33           Canad√°                   top-ten
83         Islandia                   top-ten
57   Estados Unidos                   top-ten
58          Estonia                   top-ten
103        Lituania                   top-ten
141     Reino Unido                   top-ten
89            Jap√≥n                   top-ten
86           Israel                   top-ten
27     Burkina Faso                bottom-ten
127           N√≠ger                bottom-ten
71           Guinea                bottom-ten
110            Mal√≠                bottom-ten
35             Chad                bottom-ten
156         Senegal                bottom-ten
0        Afganist√°n                bottom-ten
28          Burundi                bottom-ten
121      Mozambique                bottom-ten
189           Yemen                bottom-ten

In [146]:
'''
  7. ¬øCu√°l es el top-ten y el bottom-ten del ingreso nacional bruto per c√°pita?    
'''

df_pre07a = df_res02.sort_values('ingreso_nacional_bruto_pc', ascending=False).head(10)
df_pre07a['ingreso_nacional_bruto_pc'] = 'top-ten'
tu_pre07af = df_pre07a.pais, df_pre07a.ingreso_nacional_bruto_pc
df_pre07af = pd.DataFrame(tu_pre07af).transpose()

df_pre07b = df_res02.sort_values('ingreso_nacional_bruto_pc', ascending=True).head(10)
df_pre07b['ingreso_nacional_bruto_pc'] = 'bottom-ten'
tu_pre07bf = df_pre07b.pais, df_pre07b.ingreso_nacional_bruto_pc
df_pre07bf = pd.DataFrame(tu_pre07bf).transpose()

df_pre07f = pd.concat([df_pre07af, df_pre07bf], sort=False)

print(df_pre07f)

                                pais ingreso_nacional_bruto_pc
102                    Liechtenstein                   top-ten
160                         Singapur                   top-ten
34                             Catar                   top-ten
104                       Luxemburgo                   top-ten
82                           Irlanda                   top-ten
169                            Suiza                   top-ten
57                    Estados Unidos                   top-ten
129                          Noruega                   top-ten
25                            Brun√©i                   top-ten
52            Emiratos √Årabes Unidos                   top-ten
28                           Burundi                bottom-ten
167                    Sud√°n del Sur                bottom-ten
142         Rep√∫blica Centroafricana                bottom-ten
162                          Somalia                bottom-ten
145  Rep√∫blica Democr√°tica del Congo                bottom-ten
121                       Mozambique                bottom-ten
127                            N√≠ger                bottom-ten
100                          Liberia                bottom-ten
189                            Yemen                bottom-ten
35                              Chad                bottom-ten

In [147]:
'''
  8. ¬øCu√°l es el top-ten y el bottom-ten de la tasa de mortalidad materna?      
'''

df_pre08a = df_res02.sort_values('tasa_mortalidad_materna', ascending=False).head(10)
df_pre08a['tasa_mortalidad_materna'] = 'top-ten'
tu_pre08af = df_pre08a.pais, df_pre08a.tasa_mortalidad_materna
df_pre08af = pd.DataFrame(tu_pre08af).transpose()

df_pre08b = df_res02.sort_values('tasa_mortalidad_materna', ascending=True).head(10)
df_pre08b['tasa_mortalidad_materna'] = 'bottom-ten'
tu_pre08bf = df_pre08b.pais, df_pre08b.tasa_mortalidad_materna

df_pre08bf = pd.DataFrame(tu_pre08bf).transpose()

df_pre08f = pd.concat([df_pre08af, df_pre08bf], sort=False)

print(df_pre08f)

                         pais tasa_mortalidad_materna
167             Sud√°n del Sur                 top-ten
35                       Chad                 top-ten
159              Sierra Leona                 top-ten
128                   Nigeria                 top-ten
162                   Somalia                 top-ten
142  Rep√∫blica Centroafricana                 top-ten
114                Mauritania                 top-ten
72               Guinea-Bis√°u                 top-ten
100                   Liberia                 top-ten
0                  Afganist√°n                 top-ten
139                   Polonia              bottom-ten
87                     Italia              bottom-ten
20                Bielorrusia              bottom-ten
129                   Noruega              bottom-ten
52     Emiratos √Årabes Unidos              bottom-ten
61                  Finlandia              bottom-ten
69                     Grecia              bottom-ten
143           Rep√∫blica Checa              bottom-ten
86                     Israel              bottom-ten
47                  Dinamarca              bottom-ten

In [148]:
'''
  9. ¬øCu√°l es el top-ten y el bottom-ten de la tasa de natalidad adolescente?      
'''

df_pre09a = df_res02.sort_values('tasa_natalidad_adolescente', ascending=False).head(10)
df_pre09a['tasa_natalidad_adolescente'] = 'top-ten'
tu_pre09af = df_pre09a.pais, df_pre09a.tasa_natalidad_adolescente
df_pre09af = pd.DataFrame(tu_pre09af).transpose()

df_pre09b = df_res02.sort_values('tasa_natalidad_adolescente', ascending=True).head(10)
df_pre09b['tasa_natalidad_adolescente'] = 'bottom-ten'
tu_pre09bf = df_pre09b.pais, df_pre09b.tasa_natalidad_adolescente

df_pre09bf = pd.DataFrame(tu_pre09bf).transpose()

df_pre09f = pd.concat([df_pre09af, df_pre09bf], sort=False)

print(df_pre09f)

                         pais tasa_natalidad_adolescente
127                     N√≠ger                    top-ten
121                Mozambique                    top-ten
142  Rep√∫blica Centroafricana                    top-ten
110                      Mal√≠                    top-ten
73          Guinea Ecuatorial                    top-ten
4                      Angola                    top-ten
35                       Chad                    top-ten
172                  Tanzania                    top-ten
100                   Liberia                    top-ten
106                Madagascar                    top-ten
47                  Dinamarca                 bottom-ten
42              Corea del Sur                 bottom-ten
169                     Suiza                 bottom-ten
41            Corea del Norte                 bottom-ten
129                   Noruega                 bottom-ten
160                  Singapur                 bottom-ten
132              Pa√≠ses Bajos                 bottom-ten
89                      Jap√≥n                 bottom-ten
102             Liechtenstein                 bottom-ten
52     Emiratos √Årabes Unidos                 bottom-ten

In [170]:
'''
  10. ¬øCu√°l es el top-ten y el bottom-ten cruzado de todos los indicadores analizados?      
'''

df_pre10=  pd.merge(
            pd.merge(
            pd.merge(
            pd.merge(
            pd.merge(
            pd.merge(
            pd.merge(
            pd.merge(df_pre01f,df_pre02f,on='pais', how='outer'),
                    df_pre03f,on='pais', how='outer'),
                    df_pre04f,on='pais', how='outer'),
                    df_pre05f,on='pais', how='outer'),
                    df_pre06f,on='pais', how='outer'),
                    df_pre07f,on='pais', how='outer'),
                    df_pre08f,on='pais', how='outer'),
                    df_pre09f,on='pais', how='outer')

df_pre10.fillna('', inplace=True)                                                       # Eliminamos los NaN

df_pre10f = pd.merge(df_pai01, df_pre10, how='right',                                   # Right join con paises
                    left_on='pais', right_on='pais')

df_pre10f

,codigo_pais,pais,region,grupo_ingresos,densidad_poblacion,tasa_crecimiento,emisiones_co2_pc,gasto_corriente_salud_pc,espernza_vida,promedio_anos_escolaridad,ingreso_nacional_bruto_pc,tasa_mortalidad_materna,tasa_natalidad_adolescente
0,mys,Malasia,Asia oriental y el Pac√≠fico,Ingresos medios altos,top-ten,,,,,,,,
1,syr,Siria,Oriente Medio y Norte de √Åfrica,Ingresos bajos,top-ten,top-ten,,,,,,,
2,srb,Serbia,Europa y Asia Central,Ingresos medios altos,top-ten,,,,,,,,
3,dma,Dominica,Latinoam√©rica y Caribe,Ingresos medios altos,top-ten,,,,,,,,
4,ken,Kenia,Africa Sub-sahariana,Ingresos medios bajos,top-ten,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,gnb,Guinea-Bis√°u,Africa Sub-sahariana,Ingresos bajos,,,,,,,,top-ten,
89,fin,Finlandia,Europa y Asia Central,Ingresos altos,,,,,,,,bottom-ten,
90,grc,Grecia,Europa y Asia Central,Ingresos altos,,,,,,,,bottom-ten,
91,cze,Rep√∫blica Checa,Europa y Asia Central,Ingresos altos,,,,,,,,bottom-ten,
92,prk,Corea del Norte,Asia oriental y el Pac√≠fico,Ingresos bajos,,,,,,,,,bottom-ten

## RESULTADOS

1. Copiamos los resultados como .CSV y lo exprortamos
2. Comprobamos los resultados en una herramienta BI (yo trabajo con Power BI.
3. Jugamos con las segmentaciones de datos

![Dashboard de PROWPI001](https://i.imgur.com/iMl560g.png)

By the way, el dashboard (Power BI) y el .CSV (resultado del proyecto Python), est√°n disponibles en el repositorio de GitHub.

That's all Folks!